@import url(http://fonts.googleapis.com/css?family=Fira+Sans|Open+Sans:800,400&subset=cyrillic-ext,latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:400,500italic&subset=latin,cyrillic);
/*body {
    font-family: "Droid Sans", sans-serif;
}*/

.post .moduleTitle, #mainbottom .moduleTitle, .moduleTitle, .item_introtext h4, .page_header h3 span, .contact_misc h3, .contact_details_item h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

.sfHolder a, .readmore, h4.item_title {
    font-family: "Droid Sans", sans-serif !important;
}

.text_phrase {
    font-weight: bold;
    font-family: "Fira Sans", sans-serif;
    font-style: italic;
}

.contact-titles{
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    height: 90px;
}

.contacts {
    width: 100%;
}

.contacts td {
    padding: 30px;
}

.contact-desc {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.contacts tr {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.09);
}

.item-second {
    margin-top: 40px;
}

.dist {
    width: 100%;

}
.dist tr td {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.09);
    padding: 30px;
}

.dist-title {
    font-weight: bold;
}

.moduleTitle {
    font: 18px/32px ubuntubold;
    color: #47342b;
    text-transform: uppercase;
}
/* product titles */
.item_title__team {
    text-align: center !important;
    text-transform: uppercase !important;
}
/* mainpage 4 blocks with read more buttons */
.item_title{
    font-weight: bold !important;
    font-family: 'Droid Sans', sans-serif !important;
    font-size: 13px !important;
    line-height: 20px !important;
    color: #858585 !important;
    text-transform: uppercase !important;
}
/* mainpage 4 blocks with read more buttons */
.item__module {
    height: 420px !important;
}

.readmore-bold {
    font-weight: bold;
}

.item__module .readmore-bold {
    font-weight: normal;
}

.span-custom {
    /*width: 14.285714285714285714285714285714% !important;*/
    width: 140px !important;
    height: 250px !important;
    margin-bottom: 30px !important;
    padding-bottom: 30px !important;
}

.custom-bottom {
    margin-bottom: 50px;
}

.item_title {
    font-family: 'Fira Sans', sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important;
    color: #47342b !important;
    text-transform: uppercase !important;
}

.item__module {
    position: relative;
}

.readmore {
    position: absolute;
    bottom: 20px;
}

h4.item_title {
    font-family: Tahoma, sans-serif !important;
}



.page-item__ {
	font-size: 14px !important;
	color: #505050;
}
/* About company page */
.page-category__about {
	font-size: 14px !important;
	color: #505050;
}

.item_fulltext {
    font-size: 14px !important;
    color: #505050;
}

/* Products! */
.gallery-item {
	height: 390px !important;
}

.page-item__gallery {
	font-size: 15px !important;
	color: #303030;
}



.product-title {
    padding-bottom: 30px;
}

.item_header-product {
    margin-top : -35px;
}