.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#section-kmt .kmt-form-content .kmt-form-addon > div .input.kmt-location {
  max-width: 1000px !important;
}
.navigation ul.sf-menu > li > .sfHolder > a,
.navigation ul.sf-menu > li > .sfHolder > span {
  padding: 0 32px !important;
}
.post .moduleTitle {
  font-size: 20px !important;
}
.mod-newsflash-adv.mod-newsflash-adv__awards .item .item_content {
  overflow: visible !important;
  padding-bottom: 20px !important;
}
ul.footer li:before {
  content: "|" !important;
  padding: 0 10px !important;
}
.item_info .item_info_dl dd div {
  display: inline !important;
}
#contact_map {
  height: 376px !important;
}
ul.gallery {
  margin-left: -20px;
}
ul.gallery .gallery-item {
  padding-left: 20px;
}
