.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'ubuntubold';
  src: url('../fonts/ubuntu-bold-webfont.eot');
  src: url('../fonts/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-bold-webfont.woff') format('woff'), url('../fonts/ubuntu-bold-webfont.ttf') format('truetype'), url('../fonts/ubuntu-bold-webfont.svg#ubuntubold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubunturegular';
  src: url('../fonts/ubuntu-regular-webfont.eot');
  src: url('../fonts/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-regular-webfont.woff') format('woff'), url('../fonts/ubuntu-regular-webfont.ttf') format('truetype'), url('../fonts/ubuntu-regular-webfont.svg#ubunturegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*======================= TYPOGRAPHY =======================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #f3a51e;
}
h1 {
  font: 22px/32px ubuntubold;
  color: white;
  margin: 0;
  text-transform: uppercase;
}
h3 {
  font: 18px/32px ubuntubold;
  color: #47342b;
  text-transform: uppercase;
  margin: 0 0 20px;
}
h4 {
  font: 15px/18px ubuntubold;
  text-transform: uppercase;
  color: #47342b;
  margin: 0 0 12px;
}
h4 a {
  color: #47342b;
  font: 15px/32px ubuntubold;
}
h4 a:hover {
  color: #f3a51e;
}
.clear {
  clear: both;
}
.color_white,
.color {
  color: #47342b;
}
.alert-heading {
  color: inherit;
}
p {
  margin: 0;
  padding-bottom: 17px;
}
p.text {
  color: #f3a51e;
  padding-bottom: 6px;
}
.icons-marker {
  font-size: 15.6px;
  line-height: 20px;
}
/*Buttons*/
.btn {
  padding: 4px 14px;
  font-size: 13px;
  line-height: 20px;
  background: #ffffff;
  color: #858585;
  text-shadow: none;
  border: 1px solid #e6e6e6;
  border-bottom-color: #e6e6e6;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn:hover {
  text-decoration: none;
  background: #e6e6e6;
  color: #000000;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn-primary {
  color: #ffffff;
  text-shadow: none;
  background-color: #8b9b01;
  background-image: -moz-linear-gradient(top, #99ab00, #768403);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#99ab00), to(#768403));
  background-image: -webkit-linear-gradient(top, #99ab00, #768403);
  background-image: -o-linear-gradient(top, #99ab00, #768403);
  background-image: linear-gradient(to bottom, #99ab00, #768403);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff99ab00', endColorstr='#ff768403', GradientType=0);
  border-color: #768403 #768403 #333901;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #768403;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.25);
  font: 14px/32px ubunturegular;
  padding: 0 13px;
  outline: none;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #768403;
  *background-color: #606b02;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #495202 \9;
}
.btn-primary:hover {
  color: #ffffff;
  text-shadow: none;
  background-color: #849402;
  background-image: -moz-linear-gradient(top, #768403, #99ab00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#768403), to(#99ab00));
  background-image: -webkit-linear-gradient(top, #768403, #99ab00);
  background-image: -o-linear-gradient(top, #768403, #99ab00);
  background-image: linear-gradient(to bottom, #768403, #99ab00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff768403', endColorstr='#ff99ab00', GradientType=0);
  border-color: #99ab00 #99ab00 #555e00;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #99ab00;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover:hover,
.btn-primary:hover:active,
.btn-primary:hover.active,
.btn-primary:hover.disabled,
.btn-primary:hover[disabled] {
  color: #ffffff;
  background-color: #99ab00;
  *background-color: #829200;
}
.btn-primary:hover:active,
.btn-primary:hover.active {
  background-color: #6b7800 \9;
}
.btn-primary.submitButton {
  float: right;
}
.btn-info {
  color: #ffffff;
  text-shadow: none;
  background-color: #8b9b01;
  background-image: -moz-linear-gradient(top, #99ab00, #768403);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#99ab00), to(#768403));
  background-image: -webkit-linear-gradient(top, #99ab00, #768403);
  background-image: -o-linear-gradient(top, #99ab00, #768403);
  background-image: linear-gradient(to bottom, #99ab00, #768403);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff99ab00', endColorstr='#ff768403', GradientType=0);
  border-color: #768403 #768403 #333901;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #768403;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.25);
  border: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  font: 14px/32px ubunturegular;
  padding: 0 13px;
  outline: none;
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #768403;
  *background-color: #606b02;
}
.btn-info:active,
.btn-info.active {
  background-color: #495202 \9;
}
.btn-info:hover {
  color: #ffffff;
  text-shadow: none;
  background-color: #849402;
  background-image: -moz-linear-gradient(top, #768403, #99ab00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#768403), to(#99ab00));
  background-image: -webkit-linear-gradient(top, #768403, #99ab00);
  background-image: -o-linear-gradient(top, #768403, #99ab00);
  background-image: linear-gradient(to bottom, #768403, #99ab00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff768403', endColorstr='#ff99ab00', GradientType=0);
  border-color: #99ab00 #99ab00 #555e00;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #99ab00;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover:hover,
.btn-info:hover:active,
.btn-info:hover.active,
.btn-info:hover.disabled,
.btn-info:hover[disabled] {
  color: #ffffff;
  background-color: #99ab00;
  *background-color: #829200;
}
.btn-info:hover:active,
.btn-info:hover.active {
  background-color: #6b7800 \9;
}
#searchForm .btn.btn-primary {
  line-height: 28px;
}
/*Lists*/
ul.item_list,
.categories-module,
.archive-module,
.item-list,
.unstyled {
  margin: 0 0 20px;
}
ul.item_list li,
.categories-module li,
.archive-module li,
.item-list li,
.unstyled li {
  list-style: none;
  padding: 0 0 10px 26px;
  position: relative;
}
ul.item_list li:before,
.categories-module li:before,
.archive-module li:before,
.item-list li:before,
.unstyled li:before {
  font: 15px/20px FontAwesome;
  color: #988d85;
  content: "\f0a9";
  position: absolute;
  left: 0px;
  top: 1px;
}
ul.item_list li a,
.categories-module li a,
.archive-module li a,
.item-list li a,
.unstyled li a {
  color: #788602;
}
ul.item_list li a:hover,
.categories-module li a:hover,
.archive-module li a:hover,
.item-list li a:hover,
.unstyled li a:hover {
  color: #f3a51e;
}
ul.categories-module h5 {
  font-size: 1em;
  line-height: inherit;
  font-weight: normal;
  margin: 0;
}
/*Pagination*/
.pagination {
  height: auto;
  margin: 0;
  padding: 0 0 50px;
}
.pagination ul {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0 auto;
  width: 100%;
}
.pagination ul li {
  display: inline-block;
  margin-right: 10px;
}
.pagination ul li .pagenav {
  font: 13px/24px 'Droid Sans', sans-serif;
  text-transform: none;
  color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #9a918c;
  box-shadow: none;
  padding: 0 9px;
  background: #9a918c;
}
.pagination ul li span.pagenav {
  background: #f3a51e;
  color: #ffffff;
  border: 1px solid #f3a51e;
}
.pagination ul li a.pagenav:hover {
  background: #f3a51e;
  color: #ffffff;
  border: 1px solid #f3a51e;
}
.pagination ul li.num span.pagenav {
  background: #f3a51e;
  color: #ffffff;
  border: 1px solid #f3a51e;
}
/*Forms*/
input[type='radio'],
input[type='checkbox'] {
  margin: 3px 0 0;
}
/* Images */
.item_img,
.category_img {
  margin-bottom: 25px;
}
.img-intro__left,
.img-full__left {
  float: left;
  margin: 0 22px 9px 0;
}
.img-intro__right,
.img-full__right {
  float: right;
  margin: 0 22px 9px 0;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #272422;
  border: 1px solid #1c1917;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well .hero-unit {
  background: #1c1917;
}
.well .buttonsearch-block {
  background: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 3px 3px 4px;
}
.well .buttonsearch-block:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.shadow .headerContent {
  background: url(../images/template/headerContent.jpg) 0 9px repeat-x;
}
.shadow .headerContent .headerIndent .headerInner {
  background: url(../images/template/headerInner.png) 0 0 repeat-x;
  padding: 34px 0 0;
}
/*======================= TOP =======================*/
/*======================= HEADER =======================*/
#header-row .row-container .moduletable.search-block {
  padding-bottom: 40px;
}
#header-row .row-container .moduletable.search-block .mod-search {
  position: relative;
}
#header-row .row-container .moduletable.search-block .mod-search form #searchword {
  height: 35px;
  width: 100%;
  background: url(../images/template/search_bg.gif) 0 bottom repeat-x #ffffff;
  border: 1px solid #947568;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 7px 38px 8px 10px;
  margin: 0;
  max-width: 268px;
}
#header-row .row-container .moduletable.search-block .mod-search form input[type="image"] {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
}
#logo {
  padding: 25px 0 12px;
  margin-bottom:30px;
}
#logo a {
  display: block;
}
/*===== Social Media ======*/
.mod-menu__social {
  overflow: hidden;
}
.social {
  text-align: right;
  margin: 0 -2px 13px 0;
  float: right;
}
.social li {
  float: left;
  list-style: none;
  margin: 0 0 0 4px;
}
.social li a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  filter: alpha(opacity=100);
}
.social li a:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/*======================= NAVIGATION =======================*/
.select-menu {
  display: none;
}
.navigation ul.sf-menu {
  font: 13px/36px 'Asap', sans-serif;
  display: table;
  width: 100%;
  position: relative;
  text-align: center;
  color: #ffffff;
  text-shadow: rgba(0, 0, 3, 0.25);
  background-color: #8b9b01;
  background-image: -moz-linear-gradient(top, #99ab00, #768303);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#99ab00), to(#768303));
  background-image: -webkit-linear-gradient(top, #99ab00, #768303);
  background-image: -o-linear-gradient(top, #99ab00, #768303);
  background-image: linear-gradient(to bottom, #99ab00, #768303);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff99ab00', endColorstr='#ff768303', GradientType=0);
  border-color: #768303 #768303 #333801;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #768303;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  /*SubMenu Styles*/

}
.navigation ul.sf-menu:hover,
.navigation ul.sf-menu:active,
.navigation ul.sf-menu.active,
.navigation ul.sf-menu.disabled,
.navigation ul.sf-menu[disabled] {
  color: #ffffff;
  background-color: #768303;
  *background-color: #606a02;
}
.navigation ul.sf-menu:active,
.navigation ul.sf-menu.active {
  background-color: #495102 \9;
}
.navigation ul.sf-menu .sfHolder {
  display: block;
  position: relative;
}
.navigation ul.sf-menu > li {
  background: url(../images/template/separator.gif) 0 0 no-repeat;
  display: table-cell;
  padding: 0 0 0 2px;
  margin: 0;
  float: none;
  text-transform: uppercase;
}
.navigation ul.sf-menu > li:first-child {
  background: none;
  padding-left: 0;
}
.navigation ul.sf-menu > li:first-child > .sfHolder > a,
.navigation ul.sf-menu > li:first-child > .sfHolder > span {
  margin-left: 0;
}
.navigation ul.sf-menu > li.lastItem > .sfHolder > a,
.navigation ul.sf-menu > li.lastItem > .sfHolder > span {
  margin-right: 0;
}
.navigation ul.sf-menu > li.active > .sfHolder > a,
.navigation ul.sf-menu > li.sfHover > .sfHolder > a,
.navigation ul.sf-menu > li.current > .sfHolder > a,
.navigation ul.sf-menu > li.active > .sfHolder > span,
.navigation ul.sf-menu > li.sfHover > .sfHolder > span,
.navigation ul.sf-menu > li.current > .sfHolder > span {
  color: #ffffff;
  text-shadow: rgba(0, 0, 3, 0.25);
  background-color: #849302;
  background-image: -moz-linear-gradient(top, #768303, #99ab00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#768303), to(#99ab00));
  background-image: -webkit-linear-gradient(top, #768303, #99ab00);
  background-image: -o-linear-gradient(top, #768303, #99ab00);
  background-image: linear-gradient(to bottom, #768303, #99ab00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff768303', endColorstr='#ff99ab00', GradientType=0);
  border-color: #99ab00 #99ab00 #555e00;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #99ab00;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navigation ul.sf-menu > li.active > .sfHolder > a:hover,
.navigation ul.sf-menu > li.sfHover > .sfHolder > a:hover,
.navigation ul.sf-menu > li.current > .sfHolder > a:hover,
.navigation ul.sf-menu > li.active > .sfHolder > span:hover,
.navigation ul.sf-menu > li.sfHover > .sfHolder > span:hover,
.navigation ul.sf-menu > li.current > .sfHolder > span:hover,
.navigation ul.sf-menu > li.active > .sfHolder > a:active,
.navigation ul.sf-menu > li.sfHover > .sfHolder > a:active,
.navigation ul.sf-menu > li.current > .sfHolder > a:active,
.navigation ul.sf-menu > li.active > .sfHolder > span:active,
.navigation ul.sf-menu > li.sfHover > .sfHolder > span:active,
.navigation ul.sf-menu > li.current > .sfHolder > span:active,
.navigation ul.sf-menu > li.active > .sfHolder > a.active,
.navigation ul.sf-menu > li.sfHover > .sfHolder > a.active,
.navigation ul.sf-menu > li.current > .sfHolder > a.active,
.navigation ul.sf-menu > li.active > .sfHolder > span.active,
.navigation ul.sf-menu > li.sfHover > .sfHolder > span.active,
.navigation ul.sf-menu > li.current > .sfHolder > span.active,
.navigation ul.sf-menu > li.active > .sfHolder > a.disabled,
.navigation ul.sf-menu > li.sfHover > .sfHolder > a.disabled,
.navigation ul.sf-menu > li.current > .sfHolder > a.disabled,
.navigation ul.sf-menu > li.active > .sfHolder > span.disabled,
.navigation ul.sf-menu > li.sfHover > .sfHolder > span.disabled,
.navigation ul.sf-menu > li.current > .sfHolder > span.disabled,
.navigation ul.sf-menu > li.active > .sfHolder > a[disabled],
.navigation ul.sf-menu > li.sfHover > .sfHolder > a[disabled],
.navigation ul.sf-menu > li.current > .sfHolder > a[disabled],
.navigation ul.sf-menu > li.active > .sfHolder > span[disabled],
.navigation ul.sf-menu > li.sfHover > .sfHolder > span[disabled],
.navigation ul.sf-menu > li.current > .sfHolder > span[disabled] {
  color: #ffffff;
  background-color: #99ab00;
  *background-color: #829200;
}
.navigation ul.sf-menu > li.active > .sfHolder > a:active,
.navigation ul.sf-menu > li.sfHover > .sfHolder > a:active,
.navigation ul.sf-menu > li.current > .sfHolder > a:active,
.navigation ul.sf-menu > li.active > .sfHolder > span:active,
.navigation ul.sf-menu > li.sfHover > .sfHolder > span:active,
.navigation ul.sf-menu > li.current > .sfHolder > span:active,
.navigation ul.sf-menu > li.active > .sfHolder > a.active,
.navigation ul.sf-menu > li.sfHover > .sfHolder > a.active,
.navigation ul.sf-menu > li.current > .sfHolder > a.active,
.navigation ul.sf-menu > li.active > .sfHolder > span.active,
.navigation ul.sf-menu > li.sfHover > .sfHolder > span.active,
.navigation ul.sf-menu > li.current > .sfHolder > span.active {
  background-color: #6b7800 \9;
}
.navigation ul.sf-menu > li > .sfHolder > a,
.navigation ul.sf-menu > li > .sfHolder > span {
  font: 14px/58px ubunturegular;
  height: 57px;
  text-align: center;
  padding: 0 52px;
  margin: 0 0;
  color: white;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  display: block;
}
.navigation ul.sf-menu > li > .sfHolder > a:hover,
.navigation ul.sf-menu > li > .sfHolder > span:hover {
  color: #ffffff;
  text-shadow: rgba(0, 0, 3, 0.25);
  background-color: #849302;
  background-image: -moz-linear-gradient(top, #768303, #99ab00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#768303), to(#99ab00));
  background-image: -webkit-linear-gradient(top, #768303, #99ab00);
  background-image: -o-linear-gradient(top, #768303, #99ab00);
  background-image: linear-gradient(to bottom, #768303, #99ab00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff768303', endColorstr='#ff99ab00', GradientType=0);
  border-color: #99ab00 #99ab00 #555e00;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #99ab00;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navigation ul.sf-menu > li > .sfHolder > a:hover:hover,
.navigation ul.sf-menu > li > .sfHolder > span:hover:hover,
.navigation ul.sf-menu > li > .sfHolder > a:hover:active,
.navigation ul.sf-menu > li > .sfHolder > span:hover:active,
.navigation ul.sf-menu > li > .sfHolder > a:hover.active,
.navigation ul.sf-menu > li > .sfHolder > span:hover.active,
.navigation ul.sf-menu > li > .sfHolder > a:hover.disabled,
.navigation ul.sf-menu > li > .sfHolder > span:hover.disabled,
.navigation ul.sf-menu > li > .sfHolder > a:hover[disabled],
.navigation ul.sf-menu > li > .sfHolder > span:hover[disabled] {
  color: #ffffff;
  background-color: #99ab00;
  *background-color: #829200;
}
.navigation ul.sf-menu > li > .sfHolder > a:hover:active,
.navigation ul.sf-menu > li > .sfHolder > span:hover:active,
.navigation ul.sf-menu > li > .sfHolder > a:hover.active,
.navigation ul.sf-menu > li > .sfHolder > span:hover.active {
  background-color: #6b7800 \9;
}
.navigation ul.sf-menu > li:hover > .sfHolder > ul,
.navigation ul.sf-menu > li.sfHover > .sfHolder > ul {
  background: #47342b;
  top: 59px;
  left: 0px;
  left: 50%;
  margin-left: -91px !important;
}
.navigation ul.sf-menu > li:hover > .sfHolder > ul li,
.navigation ul.sf-menu > li.sfHover > .sfHolder > ul li {
  border-top: 1px solid #56453c;
}
.navigation ul.sf-menu > li:hover > .sfHolder > ul li:first-child,
.navigation ul.sf-menu > li.sfHover > .sfHolder > ul li:first-child {
  border: none;
}
.navigation ul.sf-menu li li:hover ul,
.navigation ul.sf-menu li li.sfHover ul {
  top: -20px;
  left: 185px;
}
.navigation ul.sf-menu li li li:hover ul,
.navigation ul.sf-menu li li li.sfHover ul {
  top: -20px;
  left: 185px;
}
.navigation ul.sf-menu ul {
  width: 183px;
  background: #5c4238;
  padding: 20px 0;
  text-align: left;
}
.navigation ul.sf-menu ul li {
  border-top: 1px solid #695248;
  margin: 0;
  text-align: center;
}
.navigation ul.sf-menu ul li:first-child {
  border: none;
}
.navigation ul.sf-menu ul li a,
.navigation ul.sf-menu ul li span.separator {
  font: 13px/37px 'Asap', sans-serif;
  display: inline-block;
  padding: 0px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: white;
}
.navigation ul.sf-menu ul li a:hover,
.navigation ul.sf-menu ul li span.separator:hover {
  color: #f49b00;
}
.navigation ul.sf-menu ul li.active > .sfHolder > a,
.navigation ul.sf-menu ul li.sfHover > .sfHolder > a,
.navigation ul.sf-menu ul li.active > .sfHolder > span.separator,
.navigation ul.sf-menu ul li.sfHover > .sfHolder > span.separator {
  color: #f49b00;
}
.navigation ul.sf-menu.sf-vertical {
  width: 183px;
  /*Define 1st SubMenu position*/

}
.navigation ul.sf-menu.sf-vertical li {
  width: 183px;
  margin-bottom: 1px;
}
.navigation ul.sf-menu.sf-vertical li:hover > ul,
.navigation ul.sf-menu.sf-vertical li.sfHover > ul {
  top: -13px;
}
.navigation ul.sf-menu.sf-vertical ul {
  left: 185px;
}
.navigation ul.sf-menu.sf-vertical ul li a,
.navigation ul.sf-menu.sf-vertical ul li span {
  padding: 9px 12px;
}
.navigation ul.sf-menu.sf-navbar {
  height: 40px;
  padding-bottom: 40px;
  margin-bottom: 2px;
}
.navigation ul.sf-menu.sf-navbar li:hover > ul,
.navigation ul.sf-menu.sf-navbar li.sfHover > ul {
  top: 42px;
  left: 0;
}
.navigation ul.sf-menu.sf-navbar li ul {
  width: auto;
  padding: 2px 0;
}
.navigation ul.sf-menu.sf-navbar li ul ul.sub-menu {
  width: 183px;
  top: 40px;
}
.search-block {
  text-align: right;
}
.search-block input {
  max-width: 100%;
}
/*======================= SHOWCASE =======================*/
.page-category__news .item_header h4 a {
  font: 13px/20px ubunturegular !important;
}
#isotopeContainer .item_header h4 a {
  font: 13px/20px ubunturegular !important;
}
.page-blog .item_header h4 a {
  font: 13px/20px ubunturegular !important;
}
.mod-newsflash-adv .item_title {
  font: 13px/20px ubunturegular;
}
.mod-newsflash-adv .item_published {
  color: #f49b00;
}
.mod-newsflash-adv.mod-newsflash-adv__awards .item {
  margin-bottom: 11px;
}
.mod-newsflash-adv.mod-newsflash-adv__awards .item .caption {
  float: left;
  margin: 0 14px 0 0;
  width: 58px;
  height: 58px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  background: url(../images/template/bg_about01.png) repeat;
  color: #ebe9e0;
  text-align: center;
  font: 20px/58px ubuntubold;
}
.mod-newsflash-adv.mod-newsflash-adv__awards .item .item_content {
  overflow: hidden;
}
.mod-newsflash-adv.mod-newsflash-adv__awards .item .item_title {
  margin: 0;
}
.mod-newsflash-adv .isotope {
  margin: 0 -1.5%;
}
.mod-newsflash-adv .isotope-item {
  padding: 0 1.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  float: left;
}
.mod-newsflash-adv .isotope-item.straightDown {
  text-align: center;
}
#mainbottom-row .item_content h4 a {
  font: 13px/20px ubunturegular !important;
}
/*======================= FEATURE =======================*/
/*======================= MAINTOP =======================*/
/*======================= CONTENT TOP =======================*/
#content-row .row-container {
  padding: 52px 0 0px;
}
#content-top-row #content-top .moduletable {
  margin-bottom: 38px;
}
/*======================= CONTENT =======================*/
#aside-right .moduletable,
#aside-left .moduletable {
  margin-bottom: 34px;
}
#component {
  min-height: 0;
}
.container-fluid {
  padding: 0 !important;
}
.item {
  margin-bottom: 34px;
}
.item:after {
  content: '';
  display: block;
  clear: both;
}
.page-header {
  border: none;
  padding: 0;
  margin: 0;
}
.item_info_dl {
  margin: 0 0 20px;
}
.item_info_dl dd {
  margin: 0;
  display: inline;
}
.item_info_dl dd > * {
  display: inline;
}
#content-top-row .mod-article-single:after {
  background: url("../images/template/shadow2.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
  background-size: 100% 28px;
  content: "";
  display: block;
  height: 26px;
  position: relative;
  text-indent: -9000px;
  width: 100%;
}
.item_icons.btn-group.pull-right {
  margin: 0 0 10px 10px;
}
/*===== Home Page ======*/
.post .moduleTitle {
  font-size: 22px;
}
.post .mod-article-single .item__module {
  background: url(../images/template/moduletable_bg1.png) 0 0 repeat;
}
.post .mod-article-single .item__module .item_img {
  margin: 0;
}
.post .mod-article-single .item__module .indent {
  padding: 20px 23px 28px;
}
.post .mod-article-single .item__module .indent .item-title {
  font: 13px/20px 'Droid Sans', sans-serif;
  text-transform: uppercase;
  color: black;
  margin: 0;
}
.post .mod-article-single .item__module .indent .item-title a {
  color: black;
}
.post .mod-article-single .item__module .indent .item-title a:hover {
  color: #d94c16;
}
.post .mod-article-single .item__module .indent .readmore {
  box-shadow: 0px 5px 0px rgba(223, 211, 205, 0.75);
}
.blockquote blockquote:after {
  content: "";
  background: url(../images/template/blockquote.png) no-repeat;
  position: absolute;
  top: 23px;
  left: 14px;
  width: 21px;
  height: 15px;
}
.monials .mod-newsflash-adv .item .item_content .blockquote blockquote {
  background: url(../images/template/bg2.png) repeat;
  padding: 20px 16px 24px 45px;
  position: relative;
}
.monials .mod-newsflash-adv .item .item_content .blockquote blockquote:before {
  content: "";
  width: 23px;
  height: 12px;
  background: url(../images/template/arrow1.png) no-repeat;
  position: absolute;
  left: 45px;
  bottom: -12px;
}
.monials .mod-newsflash-adv .item .item_content .blockquote small {
  display: block;
  padding: 35px 0 0 45px;
}
.monials .mod-newsflash-adv .item .item_content .blockquote small h3 {
  font: 13px/18px 'Droid Sans', sans-serif;
  margin: 0;
}
.monials .mod-newsflash-adv .item .item_content .blockquote small a {
  font-size: 13px;
  color: #788602;
  text-decoration: underline;
}
.monials .mod-newsflash-adv .item .item_content .blockquote small a:hover {
  color: #f49b00;
}
/*===== News Page ======*/
.page-category .item_published {
  color: #f3a51e;
}
.page-category .item_title {
  font: 13px/18px ubunturegular;
  text-transform: uppercase;
  color: #47342b;
  margin: 0 0 12px;
}
.page-category .item_title a {
  color: #47342b;
}
.page-category .item_title a:hover {
  color: #f3a51e;
}
.page-category .item_info .item_info_dl {
  margin: 0;
}
.page-category .item_info .item_info_dl dd {
  margin-right: 10px;
}
/*===== Blog Page ======*/
.page-item {
  padding-bottom: 20px;
}
.page-archive .item_published,
.page-item__blog .item_published,
.page-blog .item_published {
  float: left;
  margin: 0 14px 14px 0;
  width: 76px;
  height: 76px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  background: url(../images/template/bg_blog1.png) 0 0 repeat;
  color: #ebe9e0;
  text-align: center;
  font: 20px/78px ubuntubold;
}
.page-archive .wrap,
.page-item__blog .wrap,
.page-blog .wrap {
  overflow: hidden;
  padding-bottom: 28px;
}
.page-archive .wrap .item_title,
.page-item__blog .wrap .item_title,
.page-blog .wrap .item_title {
  font: 13px/18px ubunturegular;
  text-transform: uppercase;
  color: #47342b;
  margin: 0 0 1px;
  padding: 6px 0 0;
  max-width: 54%;
}
.page-archive .wrap .item_title a,
.page-item__blog .wrap .item_title a,
.page-blog .wrap .item_title a {
  color: #47342b;
}
.page-archive .wrap .item_title a:hover,
.page-item__blog .wrap .item_title a:hover,
.page-blog .wrap .item_title a:hover {
  color: #f3a51e;
}
.page-archive .wrap .item_info .item_info_dl,
.page-item__blog .wrap .item_info .item_info_dl,
.page-blog .wrap .item_info .item_info_dl {
  margin: 0;
}
.page-archive .wrap .item_info .item_info_dl dd,
.page-item__blog .wrap .item_info .item_info_dl dd,
.page-blog .wrap .item_info .item_info_dl dd {
  margin-right: 10px;
}
.page-archive .wrap .item_info .item_info_dl dd div,
.page-item__blog .wrap .item_info .item_info_dl dd div,
.page-blog .wrap .item_info .item_info_dl dd div {
  display: inline-block;
}
/*===== Gallery Page ======*/
ul.gallery {
  margin: 0 0 0 -20px;
}
ul.gallery .gallery-item {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 20px;
  float: left;
  list-style: none;
  padding-bottom: 40px;
}
ul.gallery .gallery-item .item_img {
  margin-right: 0;
  float: none;
  margin-bottom: 18px;
}
ul.gallery .gallery-item .item_title {
  font: 13px/18px ubunturegular;
  text-transform: uppercase;
  color: white;
  margin: 0 0 1px;
  padding: 6px 0 0;
  max-width: 54%;
}
ul.gallery .gallery-item .item_title a {
  color: #47342b;
}
ul.gallery .gallery-item .item_title a:hover {
  color: #f3a51e;
}
ul.gallery .gallery-item.straightDown {
  float: none;
}
ul.gallery .gallery-item.straightDown .item_img {
  float: left;
  margin: 0 20px 20px 0 !important;
}
/*===== Testimonials Page ======*/
.page-category__testimonials .item {
  margin-bottom: 30px;
}
blockquote {
  padding: 0;
  margin: 0;
  border-left: none;
}
blockquote p {
  margin-bottom: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
}
blockquote p:before {
  content: '"';
}
blockquote p:after {
  content: '"';
}
blockquote small {
  text-align: right;
}
.addthis_toolbox {
  padding-top: 13px;
}
/*======================= CONTENT BOTTOM =======================*/
/*======================= ASIDE RIGHT =======================*/
.archive-module li a,
.categories-module li a,
.mod-menu .nav.menu li a,
.list1 ul li a {
  display: inline;
}
.archive-module li a:hover,
.categories-module li a:hover,
.mod-menu .nav.menu li a:hover,
.list1 ul li a:hover {
  background: none;
}
/*======================= MAINBOTTOM =======================*/
#mainbottom-row .row-container .container {
  background: url(../images/template/border.png) 0 0 repeat-x;
  padding: 60px 0 40px;
}
/*======================= BOTTOM =======================*/
/*======================= FOOTER =======================*/
#copyright {
  margin-top: 6px;
  color: #a38477;
  line-height: 32px;
}
#copyright .siteName {
  background: url("../images/template/logo_footer.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  display: block;
  float: left;
  margin-right: 2px;
  position: relative;
  text-align: left;
  text-indent: -9999px;
  top: -1px;
  width: 88px !important;
  height: 59px !important;
}
#copyright a {
  color: #a38477;
}
#copyright a:hover {
  color: #f49b00;
}
ul.footer {
  float: right;
  margin: 12px 0 0;
  overflow: hidden;
}
ul.footer li {
  float: left;
  color: #907367;
}
ul.footer li:before {
  content: "|";
  padding: 0 13px 0 14px;
}
ul.footer li:first-child:before {
  display: none;
}
ul.footer li a,
ul.footer li .separator {
  color: #a38477;
}
ul.footer li a:hover {
  text-decoration: underline;
}
ul.footer li.active a,
ul.footer li.active .separator {
  text-decoration: underline;
}
#footer-wrapper {
  background: url(../images/template/footer.png) 0 0 repeat;
}
#footer-wrapper .footer-wrapper-inner {
  padding: 48px 0 0;
}
#jform_images_image_intro,
#jform_images_image_fulltext {
  height: 30px;
}
.nav-tabs > li > a:hover {
  color: #ffffff;
  text-shadow: none;
  background-color: #dc5218;
  background-image: -moz-linear-gradient(top, #e86a1f, #ca2e0e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e86a1f), to(#ca2e0e));
  background-image: -webkit-linear-gradient(top, #e86a1f, #ca2e0e);
  background-image: -o-linear-gradient(top, #e86a1f, #ca2e0e);
  background-image: linear-gradient(to bottom, #e86a1f, #ca2e0e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe86a1f', endColorstr='#ffca2e0e', GradientType=0);
  border-color: #ca2e0e #ca2e0e #821e09;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ca2e0e;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-bottom: 1px solid #DDDDDD;
}
.nav-tabs > li > a:hover:hover,
.nav-tabs > li > a:hover:active,
.nav-tabs > li > a:hover.active,
.nav-tabs > li > a:hover.disabled,
.nav-tabs > li > a:hover[disabled] {
  color: #ffffff;
  background-color: #ca2e0e;
  *background-color: #b2290c;
}
.nav-tabs > li > a:hover:active,
.nav-tabs > li > a:hover.active {
  background-color: #9a230b \9;
}
.nav-tabs > li.active > a {
  background: #FFFFFF !important;
  border: 1px solid #DDDDDD !important;
  color: #555555 !important;
}
/*Hack*/
/*quick and dirty way to fix gallery products blocks height*/
.gallery-item{
    height: 370px;
}

.btn-info-gallery{
    position: absolute !important;
    bottom: 25px;
}
/*End hack*/