div#product_listing_wrapper{display:inline-block;width:100%;}
div#product_listing_wrapper div.product_listing_menu{display:inline-block;width:16%;padding:2%;float:left;}
div#product_listing_wrapper div.product_listing_data{display:inline-block;width:76%;padding:2%;}
div#product_listing_wrapper div.product_listing_data a.cp_icon_anchor{display:inline-block;float:left;padding:20px;margin:10px;width:230px;}
div#product_listing_wrapper div.product_listing_data a.cp_icon_anchor:hover{text-decoration:none;}
div#product_listing_wrapper div.product_listing_data a.cp_icon_anchor:hover span.icon_text{color:#2C3439;transition: 0.3s;}
div#product_listing_wrapper div.product_listing_data a.cp_icon_anchor:nth-child(2n-1){background:#F6BB42;}
div#product_listing_wrapper div.product_listing_data a.cp_icon_anchor:nth-child(2n){background:#E9573F;}
div#product_listing_wrapper div.product_listing_data a.cp_icon_anchor:nth-child(3n){background:#8CC152;}
div#product_listing_wrapper div.product_listing_data a.cp_icon_anchor:nth-child(4n){background:#37BC9B;}
div#product_listing_wrapper div.product_listing_data a.cp_icon_anchor img{float:left;}
div#product_listing_wrapper div.product_listing_data a.cp_icon_anchor span.icon_text{font-size:15px;margin-left:10px;width:160px;margin-top:8px;float:left;color:#ffffff;}
div.product_listing_heading{font-size:20px;background:#000000;color:#ffffff;display:block;padding:10px;margin-bottom:10px;}
div.product_listing_data table.adminlist{width:100%;}
div.product_listing_data table.adminlist thead tr th{padding:5px 0px;background:#C40000;color:#ffffff;margin-bottom:5px;}
div.product_listing_data table.adminlist tbody tr.row0 td{background:#E8E9EE;}
div#product_listing_info{display: block;padding: 10px 20px;}
span#product_listing_data{border:1px solid #DDDFE1;padding: 5px 0px;display: block;}
span#product_listing_data_left{width: 18%;float:left;color: #146295;padding-left: 30px;}
span#product_listing_data_right{color:#4B4B4D;}
span#product_listing_subheading{padding: 10px 0px 10px 10px;display: block;color: #ffffff;background: #146295;}
span#product_listing_data_web{display: block;text-align: center;font-size: 11px;margin-top: 10px;}
div.idTabs{padding:5px 0px 0px 0px;border-bottom:1px solid #96989A;position:relative;z-index:100;display:inline-block;width:100%;margin-bottom: 10px;}
div.idTabs span a{transition:0.3s;min-width:85px;text-align:center;padding:5px;border:1px solid #96989A;margin-right:1px;text-decoration:none;color:#000000;background:#E6E7E8;display:block;float:left;}
div.idTabs span a:hover{text-decoration:none;color:#ffffff;background:#a9abae;transition:0.3s;}
div.idTabs span a.selected{border:1px solid #606062;position:relative;z-index:101;background:#a9abae;color:#ffffff;}
div.idTabs span a.selected:hover{text-decoration:none;color:#ffffff;}
div.it_data_sheet_heading{display:inline-block;width:100%;padding:10px 0px;font-size: 20px;text-align: center;font-weight: bold;}
span.it_data_sheet_label,span.it_data_sheet_title{display:inline-block;width:100%;padding:5px 0px;font-size:16px;font-weight: bold;}
input[type="text"].it_fant_title{display: block;}
input[type="text"].it_fant_value{display: block;}
div.it_theme_field_wrapper{width:100%;display:inline-block;}
div.it_theme_field_wrapper div.it_theme_field_title{width:45%;float:left;padding:20px 2%;display:inline-block;font-weight:bold;}
div.it_theme_field_wrapper div.it_theme_field_value{width:45%;padding:10px 2%;display:inline-block;}