div#productlisting_slider-range, div#productlisting_slider-range *,
div#productlisting_slider-mod-range, div#productlisting_slider-mod-range *,
div#productlisting_slider-plg-range, div#productlisting_slider-plg-range * { -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;display: block;cursor: default;}
div#productlisting_slider-range,
div#productlisting_slider-mod-range,
div#productlisting_slider-plg-range {position: relative;}
div#productlisting_slider-range a,
div#productlisting_slider-mod-range a,
div#productlisting_slider-plg-range a {position: absolute;z-index: 1;}
div#productlisting_slider-range a:nth-child(2),
div#productlisting_slider-mod-range a:nth-child(2),
div#productlisting_slider-plg-range a:nth-child(2) {background: inherit !important;}
div#productlisting_slider-range.vertical a,
div#productlisting_slider-mod-range.vertical a,
div#productlisting_slider-plg-range.vertical a {width: 100%;bottom: 0;}
div#productlisting_slider-range.horizontal a,
div#productlisting_slider-mod-range.horizontal a,
div#productlisting_slider-plg-range.horizontal a {height: 100%;right: 0;}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    div#productlisting_slider-range:before,body.TOUCH,div#productlisting_slider-range div,
    div#productlisting_slider-mod-range:before,body.TOUCH,div#productlisting_slider-mod-range div,
    div#productlisting_slider-plg-range:before,body.TOUCH,div#productlisting_slider-plg-range div {-ms-touch-action: none;}
    div#productlisting_slider-range:before,
    div#productlisting_slider-mod-range:before,
    div#productlisting_slider-plg-range:before {display: block;position: absolute;width: 150%;left: -25%;height: 400%;top: -150%;content: "";z-index: -1;}
    div#productlisting_slider-range.vertical:before,
    div#productlisting_slider-mod-range.vertical:before,
    div#productlisting_slider-plg-range.vertical:before {width: 400%;left: -150%;height: 150%;top: -25%;}
}
div#productlisting_slider-range,
div#productlisting_slider-mod-range,
div#productlisting_slider-plg-range {border: 1px solid #908d84;border-radius: 3px;}
div#productlisting_slider-range.connect a,div#productlisting_slider-range.connect.lower,
div#productlisting_slider-mod-range.connect a,div#productlisting_slider-mod-range.connect.lower,
div#productlisting_slider-plg-range.connect a,div#productlisting_slider-plg-range.connect.lower {background: #b2a98f;}
div#productlisting_slider-range,div#productlisting_slider-range.connect.lower a,
div#productlisting_slider-mod-range,div#productlisting_slider-mod-range.connect.lower a,
div#productlisting_slider-plg-range,div#productlisting_slider-plg-range.connect.lower a {background: #d9d7cb;box-shadow: inset 0px 1px 7px #b6b4a8}
div#productlisting_slider-range.disabled,div#productlisting_slider-range.disabled.connect.lower a,
div#productlisting_slider-mod-range.disabled,div#productlisting_slider-mod-range.disabled.connect.lower a,
div#productlisting_slider-plg-range.disabled,div#productlisting_slider-plg-range.disabled.connect.lower a {background: #ccc;box-shadow: none;}
div#productlisting_slider-range div,
div#productlisting_slider-mod-range div,
div#productlisting_slider-plg-range div {height: 12px;width: 12px;border: 1px solid #99968f;border-radius: 3px;background: #efefe7;}
div#productlisting_slider-range.disabled div,
div#productlisting_slider-mod-range.disabled div,
div#productlisting_slider-plg-range.disabled div {background: transparent;}
div#productlisting_slider-range.horizontal,
div#productlisting_slider-mod-range.horizontal,
div#productlisting_slider-plg-range.horizontal {width: 170px;height: 5px;margin: 5px 10px 0px 10px;}
div#productlisting_slider-range.horizontal div,
div#productlisting_slider-mod-range.horizontal div,
div#productlisting_slider-plg-range.horizontal div {margin: -5px 0 0 -9px;}
div#productlisting_slider-range.vertical,
div#productlisting_slider-mod-range.vertical,
div#productlisting_slider-plg-range.vertical {width: 10px;height: 170px;}
div#productlisting_slider-range.vertical div,
div#productlisting_slider-mod-range.vertical div,
div#productlisting_slider-plg-range.vertical div {margin: -9px 0 0 -5px;}
span#priceamountlabel,
span#priceamountlabel-mod,
span#priceamountlabel-plg{float: left;margin: 0 0 0 15px;font-size: 12px;line-height: 20px;font-weight: bold;letter-spacing: 2px;}
div#productlistingz_object_jqueryautocomplete.slider-range{padding: 0;margin: 5px 0 0 10px;}