.Zebra_Accordion dd { display: none }
.Zebra_Accordion dt { cursor: pointer }
dl.Zebra_Accordion { width: 100%; font-family: Arial, sans-serif; font-size: 12px }
dl.Zebra_Accordion dt { background: #000; color: #FFF; font-weight: bold; padding: 5px 15px;}
dl.Zebra_Accordion dd { background: #EFEFEF; padding: 15px; margin: 1px 0 }
dl.Zebra_Accordion dt.Zebra_Accordion_Expanded { background: #C40000 }
dl.Zebra_Accordion dd a { display:block;padding: 5px 0px;color:#8b8b8b; }
dl.Zebra_Accordion dd a:hover { text-decoration: none; color: #dc2f2f; transition: .3s; }
