.block {
    width: 300px;
    height: 200px;
}

.header {
    width: 100%;
    height: 50px;
}

.main {
    width: 100%;
    height: 100px;
    overflow:hidden;
}

.main .left{
    float: left;
}

.main .right{
    float: right;
}

.left {
    width: 150px;
    height: 100px;
}

.right {
    width: 150px;
    height: 100px;
}

.footer {
    height: 50px;
}

div{background: none}

.hovered {
    background: grey;
}