#YMapsMenu-advanced ul
{
margin-left: -20px;
padding: 0;
list-style-type: none;
font-family: Arial, Helvetica, sans-serif;
}

#YMapsMenu-advanced a
{
display: block;
padding: 3px;
background-color: #369;
border-bottom: 1px solid #fff;
}

#YMapsMenu-advanced a:link, #zhym-menu-advanced a:visited
{
color: #fff;
text-decoration: none;
}

#YMapsMenu-advanced #zhym-menu-advanced a.active {
background-color: #035;
color: #bbb;
                    }
#YMapsMenu-advanced a:hover
{
background-color: #036;
color: #eee;
}



#YMapsMenu-simple #zhym-menu-simple {
              list-style: none;
              margin-left: -20px;
              padding: 0;
           }

#YMapsMenu-simple #zhym-menu-simple a {
                text-decoration: none;
             }
            
#YMapsMenu-simple #zhym-menu-simple a.active {
                       color: #000;
                    }



.zhym-markergroup-a-simple 
{
}
.zhym-markergroup-img-simple 
{
	display: inline;
}
.zhym-markergroup-text-simple 
{
	display: inline;
}
				
.zhym-markergroup-a-advanced 
{
}
.zhym-markergroup-img-advanced 
{
	display: inline;
}
.zhym-markergroup-text-advanced 
{
	display: inline;
}
					