/**
 * @package		Komento
 * @copyright	Copyright (C) 2012 Stack Ideas Private Limited. All rights reserved.
 * @license		GNU/GPL, see LICENSE.php
 *
 * Komento is free software. This version may have been modified pursuant
 * to the GNU General Public License, and as distributed it includes or
 * is derivative of works licensed under the GNU General Public License or
 * other free or open source software licenses.
 * See COPYRIGHT.php for copyright notices and details.
 */


/* =reset
****************************************/
#section-kmt .small{margin:auto;padding:auto;}
#section-kmt .reset-h{background:none;border:none;clear:none;float:none;display:block;padding:0;margin:0;width:auto}
#section-kmt .reset-ul,
#section-kmt .reset-ul li,
#section-kmt .reset-child,
#section-kmt .reset-child > li{background:none;border:none;clear:none;float:none;list-style:none;list-style-image:none;margin:0;padding:0;overflow:visible;width:auto}
#section-kmt .float-li > li,
#section-kmt .float-wrapper > span{float:left;display:inline-block;position:relative;}
#section-kmt .clear{clear:both;}
#section-kmt .clearfix{display:block;zoom:1;overflow:visible;clear:none;}
#section-kmt .clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
#section-kmt .hidden{display:none!important;}
#section-kmt .avatar{width:48px;height:auto;}
#section-kmt .kmt-info{
	background:#f5f5f5;
	border:1px solid #cacaca;
	color:#777;
	display:inline-block;
	font-size:11px;
	height:15px;
	line-height:15px;
	padding:4px 8px;
	margin:10px 0 0;

	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}


/* =component wrapper
****************************************/
#section-kmt {
	display:inline-block;
	width:100%;
	margin:15px 0 0;
}


/* =supporting elements : h3;
****************************************/
#section-kmt h3.kmt-title {
	background:#333;
	margin:0 0 20px;
	padding:0 10px;
	height:33px;
	line-height:33px;

	color:#ccc;
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
	text-transform:uppercase;
	text-shadow:none;

	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}


/* =comment toolbar;
****************************************/
#section-kmt .kmt-toolbar{
	margin:-15px 0 0;
	padding:10px 0 15px;
	border-bottom:1px solid #e5e5e5;

	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
#section-kmt .kmt-toolbar li a{
	background:#fff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );/* IE6-9 */

	color:#555;
	display:inline-block;
	font:bold 12px/25px Arial,sans-serif;
	text-decoration:none;
	padding:2px 10px;

	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
#section-kmt .kmt-toolbar li.kmt-sorting a{
	border:1px solid #aaa;
}
#section-kmt .kmt-toolbar li.kmt-sorting a:hover{}
#section-kmt .kmt-toolbar li.kmt-sorting a.selected{
	background:#ddd;
	box-shadow:0 0 3px rgba(0,0,0,0.2) inset;
}
#section-kmt .kmt-toolbar li.kmt-sort-oldest a{
	border-radius:2px 0 0 2px;
	-moz-border-radius:2px 0 0 2px;
	-webkit0-border-radius:2px 0 0 2px;
}
#section-kmt .kmt-toolbar li.kmt-sort-latest a{
	border-left:0;
	border-radius:0 2px 2px 0;
	-moz-border-radius:0 2px 2px 0;
	-webkit0-border-radius:0 2px 2px 0;
}
#section-kmt .kmt-toolbar li.kmt-subs-rss{
	float:right;
}
#section-kmt .kmt-toolbar li.kmt-subs-rss a{
	background:#F47827!important;
	border:1px solid #c9570d;
	color:#fff!important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F47827', endColorstr='#F47827',GradientType=0 );/* IE6-9 */
}


/* =comment listing
****************************************/
#section-kmt .kmt-list{
	margin:0 0 30px;
}
#section-kmt .kmt-btn-loadmore + .kmt-list{
	margin:-20px 0 30px;
}
#section-kmt .kmt-btn-loadmore.disabled + .kmt-list{
	margin:0 0 30px;
}
#section-kmt .kmt-list > li{
	display:inline-block;
	width:100%;
	line-height:1.5;
}
#section-kmt .kmt-list > li.kmt-unpublished {
	background-color: #eee;
}
#section-kmt .kmt-list > li > div{
	padding:20px 0;
}
#section-kmt .kmt-list > li.kmt-empty-comment{
	border:1px dashed #ddd;
	color:#aaa;
	font-weight:bold;
	font-size:16px;
	padding:30px 0;
	margin:20px 0 0;
	text-align:center;

	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
#section-kmt .kmt-list > li + li > div,
#section-kmt .kmt-list > .kmt-form + li > div{
	border-top:1px solid #ddd;
}
#section-kmt .kmt-list > .kmt-form{
	margin:20px 0;
}
#section-kmt .kmt-list .kmt-edit-form{
	margin:10px 0 20px;
}
#section-kmt .kmt-list .kmt-edit-form .kmt-edit-form-body{
	margin:0 0 10px;
}


/* =comment listing : avatar
****************************************/
#section-kmt .kmt-avatar,
#section-kmt .kmt-avatar * {
	float:left;
	display:inline-block;
}


/* =comment listing : comment's content
****************************************/
#section-kmt .kmt-avatar + .kmt-content {
	margin-left:60px;
}
#section-kmt .kmt-head{
	height:20px;
	line-height:20px;
	position:relative;
}
#section-kmt .kmt-author,
#section-kmt .kmt-author a{
	display:inline-block;
	height:20px;
	line-height:20px;
	text-decoration:none!important;
	font-family:inherit;
	font-size:inherit;
	margin:0;
	padding:0;
}
#section-kmt .kmt-body{
	margin:10px 0;
	position:relative;
}
#section-kmt .kmt-text pre, #section-kmt .kmt-text pre code, #section-kmt .kmt-text pre code span{
	font-size: 11px;
}
#section-kmt .kmt-text p{
	line-height:1.5;
	margin:0;
}
#section-kmt .kmt-text img{
	max-width:100%;
	height:auto;
	display:block;
	padding:0;
	margin:0;
	background:none;
	border:0;
}
#section-kmt .kmt-text img.kmt-emoticon{
	display:inline;
}
#section-kmt .kmt-text p + p{
	margin:10px 0 0;
}
#section-kmt .kmt-text blockquote{
	background:#f5f5f5 url(../images/quote.png) 8px 8px no-repeat;
	border-left:2px solid #ddd;
	padding:10px 10px 10px 30px;
	color:#555;
	font-family:Georgia,serif;
	font-style:italic;
}


/* =comment listing : kmt-option (permalink & flags)
*****************************************************/
#section-kmt .kmt-option{
	position:absolute;
	top:0;
	right:0;
}
#section-kmt .kmt-option > span + span{
	margin:0 0 0 3px;
}
#section-kmt .kmt-option > span > a{
	background:#f5f5f5;
	border:1px solid #cacaca;
	color:#888;
	font:9px/20px Tahoma,Arial,sans-serif;
	float:left;
	display:inline-block;
	height:20px;
	text-decoration:none!important;
	text-transform:uppercase;
	padding:0 4px;


	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
#section-kmt .kmt-option > span > a:hover{
	background:#f5f5f5;
	color:#777;
}
#section-kmt .kmt-option > span.kmt-report-wrap > .kmt-report{
	display:none;
}
#section-kmt .kmt-option > span.kmt-report-wrap .kmt-report.cancel{
	background:#ffebe8!important;
	color:#af827b!important;
	border:1px solid #d1a69f;
}
#section-kmt .kmt-option > span.kmt-report-wrap > .kmt-report.cancel,
#section-kmt li:hover .kmt-option > span.kmt-report-wrap > .kmt-report{
	display:inline-block;
}


/* =comment listing : comment's button
****************************************/
#section-kmt .kmt-btn,
#section-kmt .kmt-btn:hover,
#section-kmt .kmt-btn:focus{
	background:#fff;
	border:1px solid #bbb;
	border-bottom-color:#a8a8a8;
	color:#555!important;
	cursor:pointer;
	display:inline-block;
	font:bold 11px/23px 'Lucida Grande',Tahoma,Arial,sans-serif!important;
	height:23px;
	text-decoration:none!important;
	padding:0 9px;
	position:relative;
	vertical-align:top;

	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;

	background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );/* IE6-9 */
}
#section-kmt .kmt-btn:hover{
	border-color:#999;
}
#section-kmt .kmt-control-user .kmt-like.cancel,
#section-kmt .kmt-control-user .kmt-reply.cancel{
	outline:0;
	background: -moz-linear-gradient(top,  #e5e5e5 0%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5e5e5 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5e5e5 0%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5e5e5 0%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(top,  #e5e5e5 0%,#f5f5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
	box-shadow:0 0 3px rgba(0,0,0,0.2) inset;
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow:0 0 3px rgba(0,0,0,0.2) inset;

	border-color:#aaa;
}
#section-kmt .kmt-btn-group{
	border:1px solid #bbb;
	border-bottom-color:#a8a8a8;
	overflow:hidden;

	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
#section-kmt .kmt-btn-group .kmt-btn{
	border:0!important;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
#section-kmt .kmt-btn-group > span + span{
	border-left:1px solid #bababa;
}


/* =comment listing : comment's control
****************************************/
#section-kmt .kmt-control{
	display:inline-block;
	height:25px;
	width:100%;
	position:relative;
}
#section-kmt .kmt-meta{
	margin:0 150px 0 0;
	height:25px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
#section-kmt .kmt-meta *{
	color:#888;
	font-size:11px;
	line-height:25px;
}
#section-kmt .kmt-time{
	background:url(../images/time.png) 0 center no-repeat;
	display:inline-block;
	padding-left:20px;
}
#section-kmt .kmt-location a{
	text-decoration:none;
}
#section-kmt .kmt-location a:hover{
	text-decoration:underline;
}
#section-kmt .kmt-control-user{
	position:absolute;
	right:0;
	top:0;
	opacity:0.7;
}
#section-kmt li:hover .kmt-control-user{
	opacity:1;
}
#section-kmt .kmt-control-user > span{
	margin:0 0 0 5px;
}
#section-kmt .kmt-control-user .kmt-btn{
	padding:0 6px;
}
#section-kmt .kmt-control-user .kmt-btn span{
	display:block;
	text-indent:-9999px;
	width:12px;
	height:23px;
}
#section-kmt .kmt-control-user .kmt-like span{
	background:url(../images/control-sprite.png) 0 -100px;
}
#section-kmt .kmt-control-user .kmt-like.cancel span{
	background:url(../images/control-sprite.png) 0 -123px;

}
#section-kmt .kmt-control-user .kmt-share span{
	background:url(../images/control-sprite.png) 0 -146px;
}
#section-kmt .kmt-control-user .kmt-reply span{
	background:url(../images/control-sprite.png) 0 -169px;
}
#section-kmt .kmt-share-wrap .kmt-share-balloon{
	position:absolute;
	right:-5px;
	bottom:100%;
	display:none;
}
#section-kmt .kmt-share-wrap:hover .kmt-share-balloon{
	display:block;
}
#section-kmt .kmt-share-wrap .kmt-share-balloon > span{
	display:block;
	margin:0 0 10px;
	border:1px solid #999;
	background:#fff;
	width:160px;
	z-index:9999;
	font-family:'Lucida Grande',Tahoma,Arial,sans-serif;
}
#section-kmt .kmt-share-wrap .kmt-share-balloon > span > i{
	position:absolute;
	right:11px;
	bottom:2px;
	width:15px;
	height:9px;
	display:block;
	background:url(../images/control-sprite.png) 0 -80px;
}
#section-kmt .kmt-share-balloon .kmt-share-url{
	display:block;
	padding:13px 10px;
	border-bottom:1px solid #aaa;
}
#section-kmt .kmt-share-balloon .kmt-share-url span{
	display:block;
	line-height:13px;
	margin:0 0 5px;
}
#section-kmt .kmt-share-balloon .kmt-share-url .input{
	width:130px;
	border:1px solid #bbb;
}
#section-kmt .kmt-share-balloon .kmt-share-social{
	display:block;
	padding:10px 0 0 10px;
	background:#eee;
}
#section-kmt .kmt-share-balloon .kmt-share-social > i{
	display:inline-block;
	width:100%;
}
#section-kmt .kmt-share-balloon .kmt-share-social > i > a{
	float:left;
	display:block;
	text-indent:-9999px;
	width:16px;
	height:16px;
	background:#ccc;
	margin:2px 12px 10px 2px;
	cursor:pointer;
	background:url(../images/control-sprite.png);
}
#section-kmt .kmt-share-balloon .kmt-share-social > i > a.share-facebook{
	background-position:0 0;
}
#section-kmt .kmt-share-balloon .kmt-share-social > i > a.share-twitter{
	background-position:0 -16px;
}
#section-kmt .kmt-share-balloon .kmt-share-social > i > a.share-googleplus{
	background-position:0 -32px;
}
#section-kmt .kmt-share-balloon .kmt-share-social > i > a.share-linkedin{
	background-position:0 -48px;
}
#section-kmt .kmt-share-balloon .kmt-share-social > i > a.share-pinterest{
	background-position:0 -64px;
}
#section-kmt .kmt-share-balloon .kmt-share-social > i > a.share-digg{
	background-position:-16px -16px;
}
#section-kmt .kmt-share-balloon .kmt-share-social > i > a.share-delicious{
	background-position:-16px 0;
}
#section-kmt .kmt-share-balloon .kmt-share-social > i > a.share-reddit{
	background-position:-16px -32px;
}
#section-kmt .kmt-share-balloon .kmt-share-social > i > a.share-stumbleupon{
	background-position:-16px -48px;
}
#section-kmt .kmt-share-balloon .kmt-share-social > i > a.share-tumblr{
	background-position:-16px -64px;
}
#section-kmt .kmt-control-admin{
	display:none;
	position:absolute;
	left:0;
	top:0;
}


/* =comment listing : likes
****************************************/
#section-kmt .kmt-like-counter{
	background:#f5f5f5;
	border:1px solid #ccc;
	color:#777;
	display:inline-block;
	font:11px/23px 'Lucida Grande',Tahoma,Arial,sans-serif;
	text-decoration:none!important;
	padding:0 10px;
	position:relative;
	vertical-align: top;
	margin:0 3px 0 0;
	cursor: pointer;

	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
#section-kmt .kmt-like-counter i{
	background:url(../images/control-sprite.png) 0 -90px;
	width:5px;
	height:7px;
	position:absolute;
	right:-5px;
	top:7px;
}


/* =comment listing : admin options
****************************************/
#section-kmt .kmt-option > span.kmt-admin-wrap > a{
	display:block;
	text-indent:-9999px;
	width:20px;
	height:20px;
	padding:0;
	position:relative;
	background:url(../images/control-sprite.png) -16px -80px no-repeat #f0f0f0;
}
#section-kmt .kmt-option > span.kmt-admin-wrap > a:hover,
#section-kmt .kmt-option > span.kmt-admin-wrap:hover > a{
	height:25px;
	border-bottom:0!important;
	z-index:9999;

	border-radius:2px 2px 0 0;
	-moz-border-radius:2px 2px 0 0;
	-webkit-border-radius:2px 2px 0 0;
}
#section-kmt .kmt-option > span.kmt-admin-wrap > ul{
	display:none;
	position:absolute;
	right:0;
	top:25px;
	background:#FEF6C2;
	border:1px solid #c0b678;
	z-index:9999;
	overflow:hidden;

	border-radius:2px 0 2px 2px;
	-moz-border-radius:2px 0 2px 2px;
	-webkit-border-radius:2px 0 2px 2px;
}
#section-kmt .kmt-option > span.kmt-admin-wrap:hover > ul{
	display:block;
}
#section-kmt .kmt-option > span.kmt-admin-wrap > ul li + li{
	border-top:1px solid #c0b678;
}
#section-kmt .kmt-option > span.kmt-admin-wrap > ul li a{
	display:block;
	line-height:26px;
	white-space:nowrap;
	padding:0 30px 0 8px;
	color: #665D28!important;
	text-decoration:none;
	background:#FEF6C2!important;
	font-size:11px;
}
#section-kmt .kmt-option > span.kmt-admin-wrap > ul a:hover{
	text-decoration:underline;
}


/* =comment listing : actions
****************************************/
#section-kmt .kmt-list > li:hover .kmt-option > span.kmt-admin-wrap > a{
	background:url(../images/control-sprite.png) -16px -100px no-repeat #FEF6C2;
	border: 1px solid #c0b678;

}


/* =comment pagination
****************************************/
#section-kmt .kmt-btn-loadmore{
	display:block;
	background:#f7f7f7;
	border:1px solid #ddd;
	text-decoration:none!important;
	margin:20px 0;

	box-shadow:0 1px 0 #fff inset;
	-moz-box-shadow:0 1px 0 #fff inset;
	-webkit-box-shadow:0 1px 0 #fff inset;

	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
#section-kmt .kmt-btn-loadmore b{
	color:#888;
	font-weight:bold;
	height:35px;
	line-height:35px;
	display:block;
	text-align:center;
	background:url(../images/loader.gif) -30px center no-repeat;
}
#section-kmt .kmt-btn-loadmore:hover,
#section-kmt .kmt-btn-loadmore:focus{
	border:1px solid #aaa;
	border-bottom-color:888;
	background:#f5f5f5;
}
#section-kmt .kmt-btn-loadmore:hover b,
#section-kmt .kmt-btn-loadmore:focus b{
	color:#666;
}
#section-kmt .kmt-btn-loadmore.loading b{
	background-position:10px center;
}


/* =conversation bar
****************************************/
#section-kmt .kmt-people-list{
	margin:0 0 30px;
}
#section-kmt .kmt-people-list li{
	margin:0 5px 5px 0;
}
#section-kmt .kmt-people-list li a,
#section-kmt .kmt-people-list li img{
	display:inline-block;
	position:relative;
	text-decoration:none!important;
	float:left;
}
#section-kmt .kmt-people-list li .avatar{
	width:35px;
}
#section-kmt .kmt-people-list li a b{
	position:absolute;
	bottom:100%;
	left:0;

	background:#555;
	color:#fff!important;
	text-decoration:none!important;
	font:100 11px/21px Arial,sans-serif;
	margin:0 0 5px;
	padding:0 5px;
	white-space:nowrap;

	display:none;
}
#section-kmt .kmt-people-list li a:hover b{
	display:block;
}
#section-kmt .kmt-people-list li a b i{
	position:absolute;
	left:5px;
	bottom:-4px;

	background:url(../images/control-sprite.png) -5px -90px;
	width:7px;
	height:4px;
}


/* =comment fame list;
****************************************/
#section-kmt #kmt-fame{
	border:1px solid #ccc;
	padding:10px;
	margin:0 0 30px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
#section-kmt #kmt-fame .kmt-list{
	margin:0 0 10px;
}
#section-kmt #kmt-fame h3.kmt-title{
	margin:10px 0;
}
#section-kmt #kmt-fame .kmt-fame-tabs{
	text-align:center;
	font-size:0;
	position:relative;
	margin:-10px -10px 0;
	overflow:hidden;

	border-radius:2px 2px 0 0;
	-moz-border-radius:2px 2px 0 0;
	-webkit-border-radius:2px 2px 0 0;
}
#section-kmt #kmt-fame .kmt-fame-tabs li{
	display:inline-block;
}
#section-kmt #kmt-fame .kmt-fame-tabs.col1 li{
	width: 100%;
}
#section-kmt #kmt-fame .kmt-fame-tabs.col2 li{
	width: 50%;
}
#section-kmt #kmt-fame .kmt-fame-tabs.col3 li{
	width: 33.33%;
}
#section-kmt #kmt-fame .kmt-fame-tabs li + li{
	border-left:1px solid #ccc;
	margin:0 0 0 -1px;
}
#section-kmt #kmt-fame .kmt-fame-tabs li a{
	background-color:#f5f5f5!important;
	border-bottom:1px solid #ddd;
	color:inherit;
	display:block;
	font-size:12px;
	line-height:16px;
	height:16px;
	padding:17px 0;
	text-decoration:none!important;
}
#section-kmt #kmt-fame .kmt-fame-tabs li a.active{
	border:0;
	background-color:transparent!important;
}
#section-kmt #kmt-fame .kmt-fame-tabs li a i{
	display:inline-block;
	width:16px;
	height:16px;
	margin:0 5px 0 0;
	vertical-align:top;
}
#section-kmt #kmt-fame .kmt-fame-tabs li a.navMain i{
	background:url(../images/stream.reply.png) center 0 no-repeat;
}
#section-kmt #kmt-fame .kmt-fame-tabs li a.navStickies i{
	background:url(../images/stream.pin.png) center 0 no-repeat;
}
#section-kmt #kmt-fame .kmt-fame-tabs li a.navLovies i{
	background:url(../images/stream.popular.png) center 0 no-repeat;
}
#section-kmt #kmt-fame .kmt-fame-tabs li a b{
	display:inline-block;
	line-height:16px;
	height:16px;
	vertical-align:top;
}
#section-kmt #kmt-fame .loading {
	margin-top: 10px;
}


/* =not allowed
****************************************/
#section-kmt .kmt-not-allowed{
	background:#f5f5f5;
	border:1px solid #ccc;
	font-weight:bold;
	color:#555;
	text-shadow:0 1px 0 #fff;
	padding:10px;

	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}


/* =tooltips
****************************************/
#section-kmt .kmt-has-tip{
	display:inline-block;
	position:relative;
}
#section-kmt .kmt-has-tip:hover > .kmt-tip{
	display:block;
}
#section-kmt .kmt-tip{
	display:none;
	padding:0 0 2px;
	position:absolute;
	bottom:100%;
	left:0;
}
#section-kmt .kmt-tip > i{
	background:url(../images/control-sprite.png) -16px -171px no-repeat;
	display:block;
	width:15px;
	height:8px;
	position:absolute;
	bottom:2px;
	left:10px;
}
#section-kmt .kmt-tip > span{
	background:#FCFBB6;
	border:1px solid #999;
	color:#555;
	display:block;
	font:11px/15px 'Lucida Grande', Tahoma, Arial, sans-serif;
	margin:0 0 7px;
	padding:10px;
	width:250px;
	word-wrap:break-word;

	box-shadow:0 0 3px rgba(0,0,0,0.1);
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 0 3px rgba(0,0,0,0.1);
}
#section-kmt .kmt-has-tip > .kmt-tip > span b{
	display:block;
	margin:0 0 5px;
}


/* =comment form
****************************************/
#section-kmt .input{
	background:#fff;
	border:1px solid #bbb;
	display:inline-block;
	vertical-align:top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
#section-kmt .input.text,
#section-kmt .input.password{
	font-family:Tahoma,Arial,sans-serif;
	font-size:11px;
	color:#777;
	padding:4px;
	height:29px;
	line-height: normal;
}
#section-kmt .input.text:focus,
#section-kmt .input.password:focus{
	color:#333;
}
#section-kmt .input.button{
	background:#fff;
	border:1px solid #aaa;
	border-bottom-color:#999;
	color:#555!important;
	cursor:pointer;
	font-family:'Lucida Grande',Tahoma,Arial,sans-serif!important;
	font-size:11px!important;
	float:none!important;
	height:auto!important;
	line-height:25px!important;
	padding:0 4px!important;
	margin:0!important;

	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;

	background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );/* IE6-9 */
}
#section-kmt .kmt-form{
	margin:0 0 30px;
}
#section-kmt .kmt-form form{
	margin: 0;
}
#section-kmt .input.kmt-location{
	width:256px;
	padding-left:24px!important;
	background-image:url(../images/location.pin.png);
	background-position:8px center;
	background-repeat:no-repeat;
}
#section-kmt div.kmt-form-author{
	margin:0 0 15px;
}
#section-kmt div.kmt-form-author .kmt-avatar{
	margin:0 10px 0 0;
}
#section-kmt div.kmt-form-author .kmt-author-detail{
	padding:5px 0 0;
}
#section-kmt div.kmt-form-author .kmt-author-time{
	font-size:11px;
	color:#888;
}
#section-kmt ul.kmt-form-author{
	margin:0 -14px 15px 0;
}
#section-kmt ul.kmt-form-author li.col{
	width:33%;
}
#section-kmt ul.kmt-form-author li > label{
	font-size:11px;
	display:inline-block;
	line-height:15px;
	margin:0 0 10px;
}
#section-kmt ul.kmt-form-author li > div{
	margin:0 20px 0 0;
}
#section-kmt ul.kmt-form-author li .input.text{
	width:100%;
}
#section-kmt .kmt-form-content .kmt-form-addon{
	background:#fff;
	border:1px solid #bbb;
	border-top:0;
	padding:10px 0;
}
#section-kmt .kmt-form-content .kmt-form-addon > div{
	display:inline-block;
	vertical-align:top;
	margin:0 0 0 10px;
}
#section-kmt .kmt-form-content .kmt-form-captcha #captcha-instruction{
	margin:0 0 8px;
}
#section-kmt .kmt-form-content .kmt-form-captcha #captcha-image{
	padding:5px;
	background:#eee;
}
#section-kmt .kmt-form-content .kmt-form-captcha #captcha-response{
	height:20px!important;
	margin:0 0 0 8px!important;
}
#section-kmt .kmt-form-length > .kmt-tip > span{
	white-space:nowrap;
	width:auto;
}
#section-kmt .kmt-form-length > b{
	font:100 11px/27px 'Lucida Grande', Tahoma, Arial, sans-serif;
	height:27px;
	display:inline-block;
	padding:0 10px 0 34px;
	background:url(../images/word.count.png) 8px center no-repeat #f5f5f5;
	border:1px solid #bbb;
	color:#777;
	line-height:1;

	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
#section-kmt .kmt-form-length > b span{
	font:100 11px/27px 'Lucida Grande', Tahoma, Arial, sans-serif;
	height:29px;
	display:inline-block;
}
#section-kmt .style-vertical ul.kmt-form-author li.col{ /*set vertical form display*/
	width:90%;
	margin:0 0 10px;
}
#section-kmt .style-vertical ul.kmt-form-author li > label{
	margin:0 0 5px;
}
#section-kmt .kmt-form-content a,
#section-kmt .kmt-form-content label{
	font-size:11px;
	display:inline-block;
}
#section-kmt .kmt-form-editor > div{
	padding:0 20px 0 0;
}
#section-kmt .kmt-form-editor > div > div{
	margin:0 -20px 0 0;
}
#section-kmt .kmt-form-editor > div > .input.textarea{ /*add styling for textarea after BBcode is being disabled*/
	border:1px solid #bbb;
	width:100%;
	padding:9px;
	margin:0!important;
	height:80px;
	line-height:1.5;
	font-family:inherit;
	font-size:inherit;
	color:#555;
	height:90px;
	line-height:20px;
	resize:none;

	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
#section-kmt .kmt-form-submit{
	margin:15px 0 0;
}
#section-kmt .kmt-form-submit > span{
	margin:0 8px 0 0;
	font-size:11px;
	line-height:15px;

	padding:5px;

	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#section-kmt .kmt-form-submit > span.subscribed{
	padding:4px 4px 4px 25px;
	background:url(../images/control-sprite.png) -14px -124px #e5f1c9 no-repeat;
	border:1px solid #b5cb83;
	color:#444;
}
#section-kmt .kmt-form-submit > span label{
	display:inline-block;
	margin:0 0 0 3px;
}
#section-kmt .kmt-btn-submit{
	font-family:Arial!important;
	font-size:12px!important;
	font-weight:bold!important;
	height:40px!important;
	color:#fff!important;
	background:#1e71c1!important;
	border:1px solid #0d447b!important;
	border-bottom-color:#0a3b6c!important;
	padding:0 10px!important;
	margin:0!important;
	float:right!important;
	display:inline-block;
	cursor:pointer;

	text-shadow:0 1px 0 rgba(0,0,0,0.2)!important;
	border-radius:3px!important;
	-moz-border-radius:3px!important;
	-webkit-border-radius:3px!important;
	box-shadow:0 1px 0 rgba(255,255,255,0.2) inset!important;
	-moz-box-shadow:0 1px 0 rgba(255,255,255,0.2) inset!important;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.2) inset!important;
}

#section-kmt .kmt-btn-submit.disabled{
	background:#eee!important;
	color:#999!important;
	text-shadow:0 1px 0 #fff!important;
	border:1px solid #ccc!important;
	box-shadow:0 1px 0 #fff inset!important;
	-moz-box-shadow:0 1px 0 #fff inset!important;
	-webkit-box-shadow:0 1px 0 #fff inset!important;
}

#section-kmt .kmt-form .kmt-form-addbutton {
	display:block;
	background:#f7f7f7;
	border:1px solid #ddd;
	text-decoration:none!important;

	box-shadow:0 1px 0 #fff inset;
	-moz-box-shadow:0 1px 0 #fff inset;
	-webkit-box-shadow:0 1px 0 #fff inset;

	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}

#section-kmt .kmt-form .kmt-form-addbutton b{
	color:#888;
	font-size:11px;
	font-weight:bold;
	height:35px;
	line-height:35px;
	display:block;
	text-align:center;
	background:url(../images/loader.gif) -30px center no-repeat;
}
#section-kmt .kmt-form .kmt-form-addbutton:hover,
#section-kmt .kmt-form .kmt-form-addbutton:focus{
	border:1px solid #aaa;
	border-bottom-color:888;
	background:#f5f5f5;
}
#section-kmt .kmt-form .kmt-form-addbutton:hover b,
#section-kmt .kmt-form .kmt-form-addbutton:focus b{
	color:#666;
}
/* =recaptcha
****************************************/
#section-kmt .kmt-form-captcha{
	margin:15px 0 0;
}
#captcha-instruction{
	margin:0 0 10px;
}
/* =upload area
****************************************/
#section-kmt .kmt-upload-area{
	font:11px/15px Tahoma,Arial,sans-serif;
	color:#666;
	background:#eee;
	border:1px solid #bbb;
	border-top:0;
	padding:10px;
}
#section-kmt .kmt-upload-area .input{
	vertical-align:middle;
	z-index:9999; /* IE fix */
}
#section-kmt .kmt-upload-area .dragDrop{
	margin:0 0 0 5px;
}
#section-kmt .kmt-upload-list > div{
	background:#fff;
	border:1px solid #bbb;
	border-bottom-color:#aaa;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	box-shadow:0 1px 0 #ddd;
	-moz-box-shadow:0 1px 0 #ddd;
	-webkit-box-shadow:0 1px 0 #ddd;
	display:inline-block;
	padding:8px 0;
	margin:0 0 10px;
	width:100%
}
#section-kmt .kmt-upload-list > div:hover{
	background:#ffc;
	cursor:default;
}
#section-kmt .kmt-upload-list > div + div{
	margin:-5px 0 10px;
}
#section-kmt .kmt-upload-list > div *{
	display:inline-block;
	font:11px/19px Tahoma,'Lucida Grande',Arial,sans-serif;
}
#section-kmt .kmt-upload-list > div > a{
	float:left;
	margin:1px 0 0 10px;
	text-decoration:none!important;

	border:1px solid #aaa;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;

	background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );/* IE6-9 */
}
#section-kmt .kmt-upload-list > div > a i{
	background:url(../images/control-sprite.png) 16px -150px;
	display:block;
	width:15px;
	height:15px;
}
#section-kmt .kmt-upload-list > div > b{
	display:block;
	color:#555;
	font-weight:bold;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin:0 100px 0 35px;
}
#section-kmt .kmt-upload-list > div > i{
	float:right;
	margin:0 10px 0 0;
	color:#999;
}
#section-kmt .kmt-upload-push .uploadLimit{
	float:right;
	margin:0 10px 0 0;
	line-height:29px
}

/* =attachments
****************************************/
#section-kmt .kmt-attachments,
#section-kmt .kmt-attachments-list{
	margin:10px 0 0;
}
#section-kmt .kmt-attachments-list li{
	position:relative;
	min-height:20px;
}
#section-kmt .kmt-attachments-list li + li{
	margin-top:5px;
}
#section-kmt .kmt-attachments-list li a{
	display:inline-block;
}
#section-kmt .kmt-attachments-list li a.attachmentDetail{
	line-height:20px;
	min-height:20px;
	margin:0 0 0 25px
}
#section-kmt .kmt-attachments-list li a.attachmentDelete{
	display:none;
	position:absolute;
	left:0;
	top:1px;
	text-decoration:none!important;

	border:1px solid #aaa;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;

	background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );/* IE6-9 */
}
#section-kmt .kmt-attachments-list li a.attachmentDelete i{
	background:url(../images/control-sprite.png) 16px -150px;
	display:block;
	width:15px;
	height:15px;
}
#section-kmt .kmt-attachments-list li:hover a.attachmentDelete{
	display:block
}
#section-kmt .icon-mime{
	background-image:url("../images/mime.png") !important;
	display:inline-block;
	float:left;
	height:20px;
	width:20px;
	margin:0 5px 0 0;
}
#section-kmt .icon-mime.type-archive{}
#section-kmt .icon-mime.type-audio		{background-position:0 -20px}
#section-kmt .icon-mime.type-document	{background-position:0 -40px}
#section-kmt .icon-mime.type-file		{background-position:0 -60px}
#section-kmt .icon-mime.type-text		{background-position:0 -80px}
#section-kmt .icon-mime.type-image		{background-position:0 -100px}
#section-kmt .icon-mime.type-pdf		{background-position:0 -120px}
#section-kmt .icon-mime.type-slideshow	{background-position:0 -140px}
#section-kmt .icon-mime.type-spreadsheet{background-position:0 -160px}
#section-kmt .icon-mime.type-video		{background-position:0 -180px}









/* =comment form: error display
****************************************/
#section-kmt .kmt-form-alert{
	background:#ffebe8;
	border-left:3px solid #e38c6e;
	color:#c30;
	padding:10px 15px;
	margin:0 0 20px;
	list-style:none;
}

#section-kmt .kmt-form-alert.success{
	background:#eaf5e9;
	border-left:3px solid #bed7bc;
	color:#060;
}

#section-kmt .error > label{
	color:#c30;
}
#section-kmt .error .input{
	background-color:#ffebe8;
	border-color:#e38c6e;
}
#section-kmt .error .input:focus{
	border:1px solid #aaa;
	background:#fff;
}
#section-kmt .error .help-inline:before{
	content:"# ";
}
#section-kmt .error .help-inline{
	font-size:11px;
	font-style:italic;
	color:#c30;
}


/* =extend markitup : general
****************************************/
#section-kmt .markItUp{width:100%}
#section-kmt .markItUp *{margin:0;outline:none;padding:0;list-style: none;}
#section-kmt .markItUp a:link,.markItUp a:visited{color:#000;text-decoration:none;}
#section-kmt .markItUpContainer{background:#f5f5f5;border:1px solid #bbb;display:block;font:11px 'Lucida Grande',Tahoma,Verdana,Arial,Helvetica,sans-serif;overflow:hidden}

/* =extend markitup : header
****************************************/
#section-kmt .markItUpHeader ul,
#section-kmt .markItUpHeader ul li{background:none;border:none;clear:none;float:none;list-style:none;list-style-image:none;margin:0;padding:0;overflow:visible;width:auto;}
#section-kmt .markItUpHeader ul {display:inline-block;position:relative;padding:0; margin:5px 0 5px 5px}
#section-kmt .markItUpHeader ul li{float:left;position:relative;line-height:normal!important;margin:0 2px 0 0}
#section-kmt .markItUpHeader ul li:hover > ul{display:block}
#section-kmt .markItUpHeader ul .markItUpDropMenu{background:transparent url(../images/markitup/menu.png) no-repeat 115% 50%;margin-right:5px}
#section-kmt .markItUpHeader ul .markItUpDropMenu li{margin-right:0}
#section-kmt .markItUpHeader ul ul{display:none;position:absolute;top:18px;left:0;background:#FFF;border:1px solid #000}
#section-kmt .markItUpHeader ul ul li{float:none;border-bottom:1px solid #000}
#section-kmt .markItUpHeader ul ul .markItUpDropMenu{background:#FFF url(../images/markitup/submenu.png) no-repeat 100% 50%}
#section-kmt .markItUpHeader ul .markItUpSeparator{display:none!important;}
#section-kmt .markItUpHeader ul ul .markItUpSeparator{width:auto;height:1px;margin:0}
#section-kmt .markItUpHeader ul ul ul{position:absolute;top:-1px;left:150px}
#section-kmt .markItUpHeader ul ul ul li{float:none}
#section-kmt .markItUpHeader ul a{background:none no-repeat center center; border:solid 0px #ccc;display:block;width:16px;height:16px;text-indent:-10000px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;margin:0;padding:3px}
#section-kmt .markItUpHeader ul ul a{display:block;text-indent:0;width:120px;background-position:2px 50%;padding:5px 5px 5px 25px}
#section-kmt .markItUpHeader ul ul a:hover{color:#FFF;background-color:#000}
#section-kmt .markItUpHeader ul li a{padding:4px;}
#section-kmt .markItUpHeader ul li a:hover{background:#fff no-repeat center;padding:3px;border:1px solid #ccc;}

/* =extend markitup : icons
****************************************/
#section-kmt .markItUp .kmt-markitup-bold a{background-image:url(../images/markitup/bold.png)!important}
#section-kmt .markItUp .kmt-markitup-italic a{background-image:url(../images/markitup/italic.png)!important}
#section-kmt .markItUp .kmt-markitup-underline a{background-image:url(../images/markitup/underline.png)!important}
#section-kmt .markItUp .kmt-markitup-link a{background-image:url(../images/markitup/link.png)!important}
#section-kmt .markItUp .kmt-markitup-picture a{background-image:url(../images/markitup/picture.png)!important}
#section-kmt .markItUp .kmt-markitup-video a{background-image:url(../images/markitup/video.png)!important}
#section-kmt .markItUp .kmt-markitup-bullet a{background-image:url(../images/markitup/list-bullet.png)!important}
#section-kmt .markItUp .kmt-markitup-numeric a{background-image:url(../images/markitup/list-numeric.png)!important}
#section-kmt .markItUp .kmt-markitup-list a{background-image:url(../images/markitup/list-item.png)!important}
#section-kmt .markItUp .kmt-markitup-quote a{background-image:url(../images/markitup/quotes.png)!important}
#section-kmt .markItUp .kmt-markitup-code a{background-image:url(../images/markitup/code.png)!important}
#section-kmt .markItUp .kmt-markitup-smile a{background-image:url(../images/markitup/emoticon-smile.png)!important}
#section-kmt .markItUp .kmt-markitup-happy a{background-image:url(../images/markitup/emoticon-happy.png)!important}
#section-kmt .markItUp .kmt-markitup-surprised a{background-image:url(../images/markitup/emoticon-surprised.png)!important}
#section-kmt .markItUp .kmt-markitup-tongue a{background-image:url(../images/markitup/emoticon-tongue.png)!important}
#section-kmt .markItUp .kmt-markitup-unhappy a{background-image:url(../images/markitup/emoticon-unhappy.png)!important}
#section-kmt .markItUp .kmt-markitup-wink a{background-image:url(../images/markitup/emoticon-wink.png)!important}
#section-kmt .markItUp .kmt-markitup-clean a{background-image:url(../images/markitup/clean.png)!important}
#section-kmt .markItUp .kmt-markitup-preview a{background-image:url(../images/markitup/preview.png)!important}

/* =extend markitup : textarea
****************************************/
#section-kmt .markItUpEditor{background:#fff!important;color:#222;resize:none;font:12px 'Lucida Grande',Tahoma,Verdana,Arial,Helvetica,sans-serif;height:90px;line-height:20px;overflow:auto;padding:5px;width:100%;border:0;border-top:1px solid #bbb;border-bottom:1px solid #bbb;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
#section-kmt .markItUpPreviewFrame{background-color:#fff;height:300px;margin:5px 0;overflow:auto;width:99.9%}
#section-kmt .markItUpFooter{width:100%;height:15px;}
#section-kmt .markItUpResizeHandle{background:url(../images/markitup/handle.png) center no-repeat;cursor:n-resize;height:15px;margin:0 auto;overflow:hidden;width:22px}



/* =profile
****************************************/
#section-kmt .kmt-profile-avatar{
	float:left;
	display:inline-block;
}
#section-kmt .kmt-profile-avatar img{
	width:60px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#section-kmt .kmt-profile-avatar + .kmt-profile-info{
	margin:0 0 0 70px;
}
#section-kmt .kmt-profile-name{
	font-size:20px;
	line-height:24px;
}
#section-kmt .kmt-profile-account{
	margin:5px 0 0;
}
#section-kmt .kmt-profile-account span{
	height:20px;
	line-height:20px;
	padding:0 0 0 22px;
	background:url(../images/verified.png) 0 center no-repeat;
}
#section-kmt .kmt-profile-account span + span{
	margin:0 0 0 15px;
	background:url(../images/last.login.png) 0 center no-repeat;
}
#section-kmt .kmt-profile-activity{
	background:#fff;
	border:1px solid #ccc;
	display:inline-block;

	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#section-kmt .kmt-profile-activity li{
	padding:15px 20px 15px;
	min-width:100px;
}
#section-kmt .kmt-profile-activity li + li{
	border-left:1px solid #ccc;
}
#section-kmt .kmt-profile-activity li b{
	font-family:Tahoma,'Lucida Grande',Arial,sans-serif;
	font-size:22px;
	line-height:1;
	display:inline-block;
}
#section-kmt .kmt-profile-activity li div{
	font-size:11px;
	line-height:13px;
	color:#888;
	margin:2px 0 0;
}
#section-kmt .kmt-profile-tab{
	border-bottom:1px solid #ccc;
	margin:0 0 5px;
}
#section-kmt .kmt-profile-tab li + li{
	margin:0 0 0 15px;
}
#section-kmt .kmt-profile-tab li a{
	color:inherit!important;
	display:inline-block;
	font-weight:bold;
	line-height:17px;
	padding:7px 2px;
	text-decoration:none!important;
}
#section-kmt .kmt-profile-tab li a:hover{
	border-bottom:1px solid #da1900;
	padding-bottom:8px;
	margin:0 0 -1px;
}
#section-kmt .kmt-profile-tab li a:hover,
#section-kmt .kmt-profile-tab li a:focus{
	background:none;
}
#section-kmt .kmt-profile-tab li a.active{
	border-bottom:3px solid #777!important;
	margin:0 0 -2px;
	padding-bottom:7px!important;
}

#section-kmt .kmt-stream > li{
	position:relative;
	padding:15px 0;
}
#section-kmt .kmt-stream > li + li{
	border-top:1px solid #e9e9e9;
}
#section-kmt .kmt-stream .stream-head{
	margin:2px 0 0 55px;
	position:static;
}
#section-kmt .kmt-stream .stream-head .stream-type{
	width:38px;
	height:38px;
	text-align:center;
	font:bold normal 17px/38px Arial,sans-serif;
	border:1px solid #d5d5d5;
	background-color:#f0f0f0;
	background-position:center;
	background-repeat:no-repeat;
	display:block;
	position:absolute;
	left:0;
	top:15px;

	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
#section-kmt .kmt-stream li:hover .stream-head .stream-type{
	background-color:#f5f5f5;
}
#section-kmt .kmt-stream .stream-head.stream-comment .stream-type{
	background-image:url(../images/stream.chat.png);
}
#section-kmt .kmt-stream .stream-head.stream-like .stream-type{
	background-image:url(../images/stream.heart.png);
}
#section-kmt .kmt-stream .stream-head.stream-reply .stream-type{
	background-image:url(../images/stream.reply.png);
}
#section-kmt .kmt-stream .stream-head.stream-stick .stream-type{
	background-image:url(../images/stream.pin.png);
}
#section-kmt .kmt-stream .stream-head.stream-popular .stream-type{
	border-radius:2px 2px 0 0;
	-moz-border-radius:2px 2px 0 0;
	-webkit-border-radius:2px 2px 0 0;
}
#section-kmt .kmt-stream .stream-head.stream-popular .stream-type b{
	background:#fff;
	color:#888;
	font:100 9px/17px Arial,sans-serif;
	text-transform:uppercase;
	position:absolute;
	top:100%;
	left:-1px;
	display:block;
	width:100%;
	border:1px solid #d5d5d5;
	border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	-webkit-border-radius:0 0 2px 2px;
}
#section-kmt .kmt-stream .stream-body{
	border-left:1px solid #ddd;
	padding:0 0 0 15px;
	margin:7px 0 7px 55px;
}
#section-kmt .kmt-stream .stream-body p{
	margin:0;
}
#section-kmt .kmt-stream .stream-body p + p{
	margin-top:10px;
}
#section-kmt .kmt-stream .stream-foot{
	font-size:11px;
	line-height:16px;
	color:#888;
	margin:0 0 0 55px;
	padding:0 0 0 24px;
	background:url(../images/time.png) 0 center no-repeat;
}























/* =readmore and comment link
****************************************/
.kmt-readon {
	display:inline-block;
	width: 100%;
}

.kmt-readon span{
	padding-left: 20px;
}

.kmt-readon span.aligned-right{
	float: right;
	margin-left: 15px;
}

.kmt-readon span.aligned-left{
	float: left;
	margin-right: 15px;
}

.kmt-readon span.kmt-hits{
	background: url(../images/ico-hits.png) 0 center no-repeat;
}

.kmt-readon span.kmt-readmore{
	background: url(../images/ico-readmore.png) 0 center no-repeat;
}

.kmt-readon span.kmt-comment{
	background: url(../images/ico-comment.png) 0 center no-repeat;
}





/* =dialog box:comment likers;
****************************************/
body .kmt-likers{width:520px;}
body .kmt-likers .kmt-liker-thumb{
	float:left;
	display:inline-block;
	position:relative;
	margin:2px;
}
body .kmt-likers .kmt-liker-thumb img{
	width:100px;
	height:100px;
}
body .kmt-likers .kmt-liker-thumb > b{
	display:block;
	position:absolute;
	bottom:0;
	width:100%;
	background: -moz-linear-gradient(top,  transparent 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  transparent 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  transparent 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  transparent 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  transparent 0%,rgba(0,0,0,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
}
body .kmt-likers .kmt-liker-thumb > b b{
	display:block;
	padding:4px 5px;
	color:#fff;
	font:11px/1.2 Tahoma,Arial,sans-serif
}
body .kmt-likers .kmt-liker-name{
	padding:10px 0;
}
body .kmt-likers .kmt-liker-name + .kmt-liker-name{
	border-top:1px solid #ddd;
}



body .ui-menu{
	border:1px solid #999;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
body .ui-menu .ui-menu-item a{
	font-family:Tahoma,Arial,sans-serif;
	font-size:11px;
	text-align:left;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkkit-border-radius:2px;
}


/* in-reply to */
.kmt-item .parentContainer {
	background: none repeat scroll 0 0 #fafafa;
	color:#666;
	border: 1px solid #bbb;
	bottom: 110%;
	padding: 15px;
	position: absolute;
	left:25px;
	right:25px;

	border-radius:3px;
	-moz-border-radius:3px;
	-webkkit-border-radius:3px;
	box-shadow:0 0 5px rgba(0,0,0,0.2);
}
.kmt-item .parentContainer .kmt-text{
	margin:5px 0 0 55px;
}
.kmt-item .parentContainer .kmt-time{
	margin:0 0 0 10px;
	font-size:11px;
	color:#999;
}

/* notification */
body .kmt-notification{
	position:fixed;
	bottom:20px;
	right:20px;
	font:bold 11px/54px 'Lucida Grande',Tahoma,Arial,sans-serif!important;
	text-shadow:0 0 1px rgba(0,0,0,0.9);
	color:#fff;
	white-space:nowrap;
}
body .kmt-notification > i,
body .kmt-notification > b,
body .kmt-notification > span{
	float:left;
	display:inline-block;
	background-image:url(../images/control-sprite.png);
	height:54px;
}
body .kmt-notification > i,
body .kmt-notification > b{
	width:10px;
	background-position:0 -192px;
}
body .kmt-notification > b{
	background-position:-10px -192px;
}
body .kmt-notification > span{
	background-position:0 -246px;
	background-repeat:repeat-x;
	padding:0 20px;
}
body .kmt-notification a{
	color:#4bd56e!important;
	text-decoration:none;
	background:none!important;
}
body .kmt-notification a:hover{
	text-decoration:underline;
}

/* <i class="kmt-comment-locked"></i> */
#section-kmt .kmt-comment-locked {
	width: 26px;
	height:26px;
	line-height: 26px;
	display: inline-block;
	background:url(../images/ico-locked-big.png) 0 0 no-repeat;
	vertical-align: bottom;
	margin-right: 6px;
}
/* <i class="kmt-comment-locked-small"></i> */
#section-kmt .kmt-comment-locked-small {
	width: 16px;
	height:16px;
	line-height: 16px;
	display: inline-block;
	background:url(../images/control-sprite.png) -16px -160px no-repeat;
}
.kmt-locked-wrap {
	text-align: center;
	line-height: 26px;
	border: 1px dashed #ddd;
	padding: 14px;
	color: #666;
	font-weight: bold;
	font-size: 16px;
}


/*kmt-error dialog*/
.kmt-dialog .kmt-error-message {
	font-size: 16px;
	margin-left:100px;
	line-height:20px;
	position: relative;
	top:10px;
}
.kmt-dialog .kmt-error-status {
	border: 0px dotted black;
	padding: 10px;
	position:relative;
	z-index: 2;
}
.kmt-dialog .kmt-error-status textarea {
	width:460px;
	height: 200px;
	overflow: auto;
	padding:10px;
	font-size: 12px;
	font-family: sans-serif;
	color: #555;
	border:1px solid #aaa;
	line-height: 20px;
	font-weight: bold;
	background-color:#fff;
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.85,white),color-stop(0.99,#eee));
	background-image:-webkit-linear-gradient(center bottom,white 85%,#eee 99%);
	background-image:-moz-linear-gradient(center bottom,white 85%,#eee 99%);
	background-image:-o-linear-gradient(bottom,white 85%,#eee 99%);
	background-image:-ms-linear-gradient(top,#fff 85%,#eee 99%);
	background-image:linear-gradient(top,#fff 85%,#eee 99%);
}
.kmt-dialog .kmt-error-icon {
	background: url(../images/icon-error.png)  14px 0 no-repeat;
	padding:8px 0 0;
	position: absolute;
	top: 60px;
	left: 14px;
	width: 90px;
	height: 70px;
	z-index: 1;
}

/*Syntax Highlighting Off*/
#section-kmt .kmt-code {
	display: block;
	background-color: #f5f5f5;
	padding: 10px;
	border:1px solid #ccc;
	margin: 0 0 20px;
	line-height: 14px;
	font-family:monospace, monospace;
	_font-family:'courier new', monospace;
	font-size:12px;
	white-space: pre-wrap;
	word-wrap: break-word;

	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
