// Core variables and mixins
@import "variables.less"; // Custom for this template
@import "../../../media/jui/less/mixins.less";

#section-kmt{
  .kmt-form-content{
    .kmt-form-addon{
      > div{
        .input.kmt-location{
          max-width: 1000px !important;
        }
      }
    }
  }
}

.navigation{
  ul.sf-menu{
    
    >li{
      &.active, &.sfHover, &.current{
        >.sfHolder{
          >a, >span{
            
          }
        }
      }
      >.sfHolder{
        >a, >span{
          &:hover{
            
          }
        }
      }
    }
  }
}
.navigation ul.sf-menu > li > .sfHolder > a, .navigation ul.sf-menu > li > .sfHolder > span {
  padding: 0 32px !important;
}
.post .moduleTitle {
  font-size: 20px !important;
}
.mod-newsflash-adv.mod-newsflash-adv__awards .item .item_content {
  overflow: visible !important;
  padding-bottom: 20px !important;
}
ul.footer li:before {
  content: "|" !important;
  padding: 0 10px !important;
}
.item_info{
  .item_info_dl{
    dd{
      div{
        display: inline !important;
      }
    }
  }
}

#contact_map{height: 376px !important;}
ul.gallery{
  margin-left: -@gridGutterWidth;
  .gallery-item{
    padding-left: @gridGutterWidth;
  }
}