// Core variables and mixins
@import "variables.less"; // Custom for this template
@import "../../../media/jui/less/mixins.less";


/*== 1200px and beyond ===================================================
========================================================================*/

/* Large desktop */
@media (min-width: 1200px) {} 

/*== Up to 1200px =====================================================
========================================================================*/

/* Large desktop */
@media (max-width: 1200px) {

.navigation ul.sf-menu > li > .sfHolder > a, .navigation ul.sf-menu > li > .sfHolder > span {
  padding: 0 32px;
}
.post .moduleTitle {
  font-size: 20px;
}
.mod-newsflash-adv.mod-newsflash-adv__awards .item .item_content {
  overflow: visible;
  padding-bottom: 20px;
}
ul.footer li:before {
  content: "|";
  padding: 0 9px;
}

  #contact_map{height: 376px;}
  ul.gallery{
    margin-left: -@gridGutterWidth;
    .gallery-item{
      padding-left: @gridGutterWidth;
    }
  }
} 

/*== Up to 980px ======================================================
========================================================================*/

/* Narrow desktop */
@media (max-width: 980px) {

.navigation ul.sf-menu > li > .sfHolder > a, .navigation ul.sf-menu > li > .sfHolder > span {
  padding: 0 20px;
}
.post .moduleTitle {
  font-size: 17px;
}
.post .mod-article-single .item__module .indent {
  padding: 20px 10px 28px;
}
ul.footer li:before {
  content: "|";
  padding: 0px;
}
.monials .mod-newsflash-adv .item .item_content .blockquote blockquote {
  padding: 20px 10px 24px 40px;
}
.page-archive .wrap .item_title, .page-item__blog .wrap .item_title, .page-blog .wrap .item_title {
  max-width: 100%;
}
  
  .thumbnails {margin-left: -12px;}
  .thumbnails > li {margin-left: 12px;}

  /*footer*/
  #back-top{display: none !important;}
  ul.gallery{
    margin-left: -@gridGutterWidth768;
    .gallery-item{
      padding-left: @gridGutterWidth768;
    }
  }
}

/*== Up to 980px and beyond 768px ======================================
========================================================================*/

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}


/*== Up to 767px ======================================================
========================================================================*/

/* Landscape phone to portrait tablet */
@media (max-width: 767px){

body{
  padding: 0;
  .row-container{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.social {
  padding: 0;
  display: table;
  float: none;
  margin: 0 auto;
}
.search-block {
  display: table;
  margin: 0 auto;
}
.navigation ul.sf-menu{
  display: none;
}
h1 {
  font: 18px/24px ubuntubold;
}
#footer-wrapper .footer-wrapper-inner {
    padding: 15px 0 0 !important;
}
ul.footer {
    margin-bottom: 15px !important;
    margin-top: 0px !important;
}
#copyright .siteName {
    float: none !important;
    margin: 0 auto !important;
}
.post{
  .mod-article-single{
    .item__module{
      overflow: hidden;
    }
    .item_img{
      float: left;
      margin-right: 20px !important;
    }
  }
}
.team{
  .mod-newsflash-adv{
    .item_img{
      float: left;
      margin-right: 20px;
    }
  }
}
#copyright {
  text-align: center;
}
ul.footer {
  display: table;
  float: none;
  margin: 20px auto;
}

  // Stick to bottom footer styles
  #wrapper{margin: 0;}
  #footer-wrapper{height: auto;}
  #push{display: none;}

  #logo{
    text-align: center;
    a{
      margin: 0;
    }
  }

  .nav.menu.pull-right.nav-pills{
    float: none;
    text-align: center;
    li{
      float: none;
      display: inline-block;
    }
  }

  .social{
    text-align: left;
    padding: 10px 0;
  }

  /*navigation*/
  .select-menu{display: block;  width: 100%;}
  .sf-menu{display: none;}


  /*content*/
    .item-image.blog-image{float: none; margin: 0 0 20px 0; }

      .row-fluid {
      [class*="itemSpan"] {
          display: block;
          float: none;
          margin-left: 0;
          width: auto;
      }
    }

      /*gallery*/
      .page-gallery{
        ul.gallery{
          margin-left: 0;
          .gallery-item{
            padding-left: 0;
            float: none;
            .item_img{
              float: left;
              margin: 0 @baseLineHeight @baseLineHeight 0 !important;
            }
          }
        }
      }

      .img-full__left.span5{width: 50%;}

      /*contact*/
      .contact_details{
        .contact_details_item{
          width: 30%;
          float: left;
        }
      }
      


/*Modules*/

  /*search*/
  .mod-search__aside{
    .mod-search_searchword{
      width: 50%;
    }
  }

  /*login*/
  .mod-login__aside{
    .mod-login_username, .mod-login_passwd{
      width: 50%;
    }
  }

  #back-top{display:none !important;}

}

/*== Up to 640px ==================================================
====================================================================*/

@media (max-width: 640px) {

.camera_caption{
  display: none !important;
}
.page-category__about{
  .img-intro__left{
    float: none;
    margin-right: 0;
  }
}
#footer-wrapper .footer-wrapper-inner {
    padding: 15px 0 0 !important;
}
ul.footer {
    margin-bottom: 15px !important;
    margin-top: 0px !important;
}

  /*contact*/
  .contact_details{
    margin-bottom: @baseLineHeight;
    .contact_details_item{
      width: 100%;
      float: none;
    }
  }
}

/*== Up to 480px ==================================================
====================================================================*/

/* Landscape phones and down */
@media (max-width: 480px) {

.post .mod-article-single .item__module {
  text-align: center;
}
ul.gallery .gallery-item .item_title {
    max-width: 100%;
}
.post .mod-article-single .item_img {
  float: none;
  margin: 10px !important;
}
ul.footer{
  display: block;
  margin: 20px;
  li {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    &:before{
      display: none;
    }
  }
}
#footer-wrapper {
    background: #553f34;
    border-top: 8px solid #30241e;
}
  /*contact*/
    .contact_form{width: 100%;}

  /*registration*/
  .page-registration, .page-remind, .page-reset, .page-login, .page-login, .page-profile__edit{
    form{
      input, select{
        width: 100%;
      }
      label{
        display: inline-block;
      }
    }
  }

  // pagination
  .pagination{
    ul{
      li{
        display: none;
        &.pagination-prev,
        &.pagination-next{
          display: inline-block;
        }
      }
    }
  }

    /*gallery*/

    .page-gallery{
      .item_img.img-intro{
        float: none;
        margin: 0 0 @baseLineHeight 0;
      }
      ul.gallery{
        .gallery-item{
          text-align: center;
          .item_img{
            float: none;
            margin: 0 0 @baseLineHeight 0 !important;
          }
          a.zoom{
            display: inline-block;
          }
        }
      }
    }

    .img-full__left.span5{width: 100%; margin-right:0;}

    /*blog*/
    .page-blog{
      .item_img.img-intro{
        float: none;
         margin: 0 0 @baseLineHeight 0;
      }
    }

    /*archive*/
    .page-archive_filters{
      select{
        display: block;
        width: 100%;
      }
    }

    /*contact*/
      .contact_details{
        .contact_details_item{
          width: 100%;
          float: none;
        }
      }


/*Modules*/

  /*search*/
  .mod-search__aside{
    .mod-search_searchword{
      width: 100%;
    }
  }

    /*login*/
  .mod-login__aside{
    .mod-login_userdata{
      width: 100%;
      overflow: hidden;
    }
    .mod-login_username, .mod-login_passwd{
      width: 100%;
    }
  }
  div.modal{
    position:absolute;
  }
}

/*== Up to 340px =====================================================
========================================================================*/

/* Portrait phones */
@media (max-width: 340px) {

  .page-category__news,
  .page-category__team{
    .img-intro__left{
      float: none;
      margin-right: 0;
    }
  }
}