// Core variables and mixins
@import "variables.less"; // Custom for this template
@import "../../../media/jui/less/mixins.less";

@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/ubuntu-bold-webfont.eot');
    src: url('../fonts/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-bold-webfont.woff') format('woff'),
         url('../fonts/ubuntu-bold-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-bold-webfont.svg#ubuntubold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-regular-webfont.eot');
    src: url('../fonts/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-regular-webfont.woff') format('woff'),
         url('../fonts/ubuntu-regular-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-regular-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*======================= TYPOGRAPHY =======================*/

h1, h2, h3, h4, h5, h6{
  margin-top: 0;
  a{
    color: inherit;
    &:hover{
      color:@linkColor;
    }
  }
}

h1{
  font: 22px/32px @ubuntubold;
  color: white;
  margin: 0;
  text-transform: uppercase;
}
h2{}
h3{
  font: 18px/32px @ubuntubold;
  color: #47342b;
  text-transform: uppercase;
  margin: 0 0 20px;
}
h4{
  font: 15px/18px @ubuntubold;
  text-transform: uppercase;
  color: #47342b;
  margin: 0 0 12px;
  a{
    color: #47342b;
    font: 15px/32px @ubuntubold;
    &:hover{
      color: #f3a51e;
    }
  }
}

.clear{
  clear: both;
}

.color_white, .color{
  color: #47342b;
}

legend{}

dt.result-title{}

.alert-heading{
  color: inherit;
}

p{
  margin: 0;
  padding-bottom: 17px;
  &.text{
    color: #f3a51e;
    padding-bottom: 6px;
  }
}

.icons-marker{
  font-size: 1.2 * @baseFontSize;
  line-height: @baseLineHeight;
}

/*Buttons*/

  // .buttonBackground(@startColor, @endColor, @textColor: #fff, @textShadow: 0 -1px 0 rgba(0,0,0,.25)) {

.buttonBackgroundAlt(@bgColor, @textColor){
  background: @bgColor;
  color:@textColor;
  text-shadow: none;
}

.btn {
  padding: 4px 14px;
  font-size: @btnFontSize;
  line-height: @btnLineHeight;
  // .buttonBackground(@btnBackground, @btnBackgroundHighlight, @btnColor, none);
  .buttonBackgroundAlt(@btnBackground, @btnColor);
  border: 1px solid @btnBorder;
  border-bottom-color: @btnBorder;
  .border-radius(0px);
  .box-shadow(none);
  .transition(all .2s linear);
  // Hover state
  &:hover {
    text-decoration: none;
    background: @btnActBackground;
    color:@btnColorHighlight;
    .transition(all .2s linear);
  }
}

.btn-primary{
  .buttonBackground(#99ab00, #768403, @white, none);
  //.buttonBackgroundAlt(@btnInfoBackground, @btnInfoColor);
  border: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.25);
  font: 14px/32px @ubunturegular;
  padding: 0 13px;
  outline: none;
  &:hover {
    .buttonBackground(#768403, #99ab00, @white, none);
  }
  &.submitButton{
    float: right;
  }
}

.btn-info{
  .buttonBackground(#99ab00, #768403, @white, none);
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.25);
  //.buttonBackgroundAlt(@btnInfoBackground, @btnInfoColor);
  border: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  font: 14px/32px @ubunturegular;
  padding: 0 13px;
  outline: none;
  &:hover {
    .buttonBackground(#768403, #99ab00, @white, none);
  }
}

// Search button

#searchForm{
  .btn.btn-primary{
    line-height: 28px;
  }
}

/*Lists*/

ul.item_list, .categories-module, .archive-module, .item-list, .unstyled{
  margin: 0 0 20px;
  li{
    list-style: none;
    padding: 0 0 10px 26px;
    position: relative;
    &:before{
      font: 15px/20px FontAwesome;
      color: #988d85;
      content: "\f0a9";
      position: absolute;
      left: 0px;
      top: 1px;
    }
    a{
      color: #788602;
      &:hover{
        color: #f3a51e;
      }
    }
  }
}

ul.categories-module{
  h5{
    font-size: 1em;
    line-height: inherit;
    font-weight: normal;
    margin: 0;
  }
}

/*Pagination*/

.pagination{
  height: auto;
  margin: 0;
  padding: 0 0 50px;
  ul{
    .border-radius(0);
    border:none;
    box-shadow: none;
    margin: 0 auto;
    width: 100%;
    li{
      display: inline-block;
      margin-right: 10px;
      .pagenav{
        font: 13px/24px 'Droid Sans', sans-serif;
        text-transform: none;
        color: #fff;
        .border-radius(0);
        border: 1px solid #9a918c;
        box-shadow: none;
        padding: 0 9px;
        background: #9a918c;
      }
      span.pagenav{
        background: #f3a51e;
        color: @white;
        border: 1px solid #f3a51e;
      }
      a.pagenav{
        &:hover{
          background: #f3a51e;
          color: @white;
          border: 1px solid #f3a51e;
        }
      }
      
      &.num{
        span.pagenav{
          background: #f3a51e;
          color: @white;
          border: 1px solid #f3a51e;
        }
      }
    } 
  }
}

/*Forms*/

input[type='radio'], input[type='checkbox'] {margin: 3px 0 0;}

/* Images */

.item_img, .category_img{
  margin-bottom: 25px;
}

.img-intro__left,
.img-full__left{
  float:left;  margin: 0 22px 9px 0;
}
.img-intro__right,
.img-full__right{
  float:right; margin: 0 22px 9px 0;
}

// Well 

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #272422;
  border: 1px solid #1c1917;
  .border-radius(4px);
  .box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.05));
  .hero-unit{
    background: #1c1917;
  }
  .buttonsearch-block{
    background: white;
    .border-radius(4px);
    padding: 3px 3px 4px;
    &:hover {
      .opacity(60);
    }
  }
}

.shadow{
  .headerContent{
    background: url(../images/template/headerContent.jpg) 0 9px repeat-x;
    .headerIndent{
      .headerInner{
        background: url(../images/template/headerInner.png) 0 0 repeat-x;
        padding: 34px 0 0;
      }
    }
  }
}

/*======================= TOP =======================*/

#top-row{
  .row-container{}
}

/*======================= HEADER =======================*/

#header-row{
  .row-container{
    .moduletable.search-block{
      padding-bottom: 40px;
      .mod-search{
        position: relative;
        form{
          #searchword{
            height: 35px;
            width: 100%;
            background: url(../images/template/search_bg.gif) 0 bottom repeat-x white;
            border: 1px solid #947568;
            .border-radius(0);
            box-shadow: none;
            padding: 7px 38px 8px 10px;
            margin: 0;
            max-width: 268px;
          }
          input[type="image"]{
            margin: 0;
            padding: 0;
            position: absolute;
            top: 8px;
            right: 8px;
          }
        }
      }
    }
  }
}

#logo{
  padding: 25px 0 12px;
  a{
    display: block;
  }
}

/*===== Social Media ======*/

.mod-menu__social{
  overflow: hidden;
}
.social {
  text-align: right;
  margin: 0 -2px 13px 0;
  float: right;
  li{
    float: left;
    list-style: none;
    margin: 0 0 0 4px;
    a{
      .transition(all 0.5s ease);
      .opacity(100);
      &:hover{
        .opacity(50)
      }
    }
  }
}

/*======================= NAVIGATION =======================*/

#navigation-row{ 
  .row-container{}
}

.select-menu{display: none;}

.navigation{
  ul.sf-menu{
    font: 13px/36px 'Asap', sans-serif;
    display: table;
    width: 100%;
    position: relative;
    text-align: center;
    .buttonBackground(#99ab00, #768303, white, rgba(0,0,3,.25));
    .sfHolder{
      display: block;
      position: relative;
    }
    >li{     
      background: url(../images/template/separator.gif) 0 0 no-repeat;
      display: table-cell;
      padding: 0 0 0 2px;
      margin: 0;
      float: none;
      text-transform: uppercase;
      &:first-child{
        background: none;
        padding-left: 0;
        >.sfHolder{
          >a, >span{
            margin-left: 0;
          }
        }
      }
      &.lastItem{
        >.sfHolder{
          >a, >span{
            margin-right: 0;
          }
        }
      }
      &.active, &.sfHover, &.current{
        >.sfHolder{
          >a, >span{
            .buttonBackground(#768303, #99ab00, white, rgba(0,0,3,.25));
          }
        }
      }
      >.sfHolder{
        >a, >span{
          font: 16px/58px @ubunturegular; 
          height: 57px;
          text-align: center;
          padding: 0 52px;
          margin: 0 0;
          color: white;
          .transition(all 0.2s ease);
          position: relative;
          display: block;
          &:hover{
            .buttonBackground(#768303, #99ab00, white, rgba(0,0,3,.25));
          }
        }
      }
    }
    /*SubMenu Styles*/
    > li:hover > .sfHolder > ul, > li.sfHover > .sfHolder > ul{
      background: #47342b;
      top: 59px;
      left: 0px;
      left: 50%;
      margin-left: -91px !important;
      li{
        border-top: 1px solid #56453c;
        &:first-child{
          border: none;
        }
      }
    }
    li li:hover ul, li li.sfHover ul{ top:-20px; left: @menuItemWidth + 2;}
    li li li:hover ul, li li li.sfHover ul{ top:-20px; left:@menuItemWidth + 2;}

    ul{
      width: @menuItemWidth;
      background: #5c4238;
      padding: 20px 0;
      text-align: left;
      li{
        border-top: 1px solid #695248;
        margin: 0;
        text-align: center;
        &:first-child{
          border: none;
        }
        a, span.separator{
          font: 13px/37px 'Asap', sans-serif;
          display: inline-block;
          padding: 0px;
          text-decoration: none;
          .transition(all 0.5s ease);
          color: white;
          &:hover{
            color: #f49b00;
          }
        }
        &.active, &.sfHover{
          >.sfHolder{
            >a, >span.separator{
              color: #f49b00;
            }
          }
        }
      }
    }
    // Vertical Menu
    &.sf-vertical{
      width: @menuItemWidth;
      li{
        width: @menuItemWidth; 
        margin-bottom: 1px;
      }
      li:hover > ul, li.sfHover > ul{ top: -13px;}/*Define 1st SubMenu position*/
      ul{
        left: @menuItemWidth + 2;
        li{
          a, span{
            padding: 9px 12px;
          }
        }
      }
    }
    // Navbar menu
    &.sf-navbar{
      height: @menuItemLineHeight;
      padding-bottom: @menuItemLineHeight;
      margin-bottom: 2px;
      li:hover > ul, li.sfHover > ul{ top: @menuItemLineHeight + 2; left: 0;}
      li{
        ul{
          width: auto;
          padding: 2px 0;
          ul.sub-menu{
            width: @menuItemWidth;
            top: @menuItemLineHeight;
          }
        }
      }
    }
  }
}

.search-block{
  text-align: right;
  input{
    max-width: 100%;
  }
}

/*======================= SHOWCASE =======================*/
.page-category__news .item_header h4 a{font: 13px/20px ubunturegular !important;}
#isotopeContainer .item_header h4 a{font: 13px/20px ubunturegular !important;}
.page-blog .item_header h4 a{font: 13px/20px ubunturegular !important;}
#showcase-row{
  
  .row-container{}
}

.mod-newsflash-adv{
  .item_title{
    font: 13px/20px @ubunturegular;
  }
  .item_published{
    color: #f49b00;
  }
  &.mod-newsflash-adv__awards{
    .item{
      margin-bottom: 11px;
      .caption{
        float: left;
        margin: 0 14px 0 0;
        width: 58px;
        height: 58px;
        .border-radius(1000px);
        background: url(../images/template/bg_about01.png) repeat;
        color: #ebe9e0;
        text-align: center;
        font: 20px/58px @ubuntubold;
      }
      .item_content{
        overflow: hidden;
      }
      .item_title{
        margin: 0;
      }
    }
  }
  .isotope{
    margin: 0 -1.5%;
  }
  .isotope-item{
    padding: 0 1.5%;
    .box-sizing(border-box);
    margin: 0;
    float: left;
    &.straightDown{
      text-align: center;
    }
  }
}
#mainbottom-row .item_content h4 a {
    font: 13px/20px ubunturegular !important;
}
/*======================= FEATURE =======================*/

#feature-row{
  .row-container{}
}

/*======================= MAINTOP =======================*/

#maintop-row{
  .row-container{}
}

/*======================= CONTENT TOP =======================*/

#content-row{
  .row-container{
    padding: 52px 0 0px;
  }
}

#content-top-row{
  #content-top{
    .moduletable{
      margin-bottom: 38px;
    }
  }
}

/*======================= CONTENT =======================*/

#aside-right, #aside-left{
  .moduletable{
    margin-bottom: 34px;
  }
}

#component{min-height: 0;}

.container-fluid{
  padding: 0 !important;
}

.item{
  margin-bottom: 34px;
  &:after{
    content:'';
    display: block;
    clear: both;
  }
}

.page-header{
  border: none;
  padding: 0;
  margin: 0;
}

.item_info_dl{
  margin: 0 0 @baseLineHeight;
  dd{
    margin: 0;
    display: inline;
    >*{
      display: inline;
    }
  }
}
#content-top-row .mod-article-single:after {
    background: url("../images/template/shadow2.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    background-size: 100% 28px;
    content: "";
    display: block;
    height: 26px;
    position: relative;
    text-indent: -9000px;
    width: 100%;
}
.item_icons.btn-group.pull-right{  margin: 0 0 10px 10px;}

/*===== Home Page ======*/

.post{
  .moduleTitle{
    font-size: 22px;
  }
  .mod-article-single{
    .item__module{
      background:  url(../images/template/moduletable_bg1.png) 0 0 repeat;
      .item_img{
        margin: 0;
      }
      .indent{
        padding: 20px 23px 28px;
        .item-title{
          font: 13px/20px 'Droid Sans', sans-serif;
          text-transform: uppercase;
          color: black;
          margin: 0;
          a{
            color: black;
            &:hover{
              color: #d94c16;
            }
          }
        }
        .readmore{
          box-shadow: 0px 5px 0px rgba(223, 211, 205, 0.75);
        }
      }
    }
  }
}
.blockquote blockquote:after{
              content: "";
              background: url(../images/template/blockquote.png)  no-repeat;
               position: absolute;
    top: 23px;
    left:14px;  
    width: 21px;
    height: 15px;
            }
.monials{
  .mod-newsflash-adv{
    .item{
      .item_content{
        .blockquote{
          blockquote{
            background: url(../images/template/bg2.png)  repeat;
            padding: 20px 16px 24px 45px;
            position: relative;
            &:before{
              content: "";
              width: 23px;
              height: 12px;
               background: url(../images/template/arrow1.png) no-repeat;
              position: absolute;
              left: 45px;
              bottom: -12px;
            }
          }
          small{
            display: block;
            padding: 35px 0 0 45px;
            h3{
              font: 13px/18px 'Droid Sans', sans-serif;
              margin: 0;
            }
            a{
              font-size: 13px;
              color: #788602;
              text-decoration: underline;
              &:hover{
                color: #f49b00;
              }
            }
          }
        }
      }
    }
  }
}

/*===== News Page ======*/

.page-category{
  .item_published{
    color: #f3a51e;
  }
  .item_title{
    font: 13px/18px @ubunturegular;
    text-transform: uppercase;
    color: #47342b;
    margin: 0 0 12px;
    a{
      color: #47342b;
      &:hover{
        color: #f3a51e;
      }
    }
  }
  .item_info{
    .item_info_dl{
      margin: 0;
      dd{
        margin-right: 10px;
      }
    }
  }
}

/*===== Blog Page ======*/

.page-item{
  padding-bottom: 20px;
}

.page-archive,
.page-item__blog,
.page-blog{
  .item_published{
    float: left;
    margin: 0 14px 14px 0;
    width: 76px;
    height: 76px;
    .border-radius(1000px);
    background: url(../images/template/bg_blog1.png) 0 0 repeat;
    color: #ebe9e0;
    text-align: center;
    font: 20px/78px @ubuntubold;
  }
  .wrap{
    overflow: hidden;
    padding-bottom: 28px;
    .item_title{
      font: 13px/18px @ubunturegular;
      text-transform: uppercase;
      color: #47342b;
      margin: 0 0 1px;
      padding: 6px 0 0;
      max-width: 54%;
      a{
        color: #47342b;
        &:hover{
          color: #f3a51e;
        }
      }
    }
    .item_info{
      .item_info_dl{
        margin: 0;
        dd{
          margin-right: 10px;
          div{
            display: inline-block;
          }
        }
      }
    }
  }
}

/*===== Gallery Page ======*/

ul.gallery{
  margin: 0 0 0 -@gridGutterWidth1200;
  .gallery-item{
    overflow: hidden;
    .box-sizing(border-box);
    padding: 0 0 0 @gridGutterWidth1200;
    float: left;
    list-style: none;
    padding-bottom: 40px;
    .item_img{
      margin-right: 0;
      float: none;
      margin-bottom: 18px;
    }
    .item_title{
      font: 13px/18px @ubunturegular;
      text-transform: uppercase;
      color: white;
      margin: 0 0 1px;
      padding: 6px 0 0;
      max-width: 54%;
      a{
        color: #47342b;
        &:hover{
          color: #f3a51e;
        }
      }
    }
    &.straightDown{
      float: none;
      .item_img{
        float: left;
        margin: 0 @baseLineHeight @baseLineHeight 0 !important;
      }
    }
  }
}

/*===== Testimonials Page ======*/

.page-category__testimonials{
  .item{
    margin-bottom: 30px;
  }
}

blockquote {
  padding: 0;
  margin: 0;
  border-left: none;
  p {
    margin-bottom: 0;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
    line-height: inherit;
    &:before{
      content: '"';
    }
    &:after{
      content: '"';
    }
  }
  small{
    text-align: right;
  }
}

.addthis_toolbox{padding-top: @baseFontSize;}

/*======================= CONTENT BOTTOM =======================*/

#content-bottom-row{
  .row-container{}
}

/*======================= ASIDE RIGHT =======================*/

.archive-module,
.categories-module,
.mod-menu .nav.menu,
.list1 ul{
  li{
    a{
      display: inline;
      &:hover{
        background:none;
      }
    }
  }
}

/*======================= MAINBOTTOM =======================*/

#mainbottom-row{
  .row-container{
    .container{
      background: url(../images/template/border.png) 0 0 repeat-x;
      padding: 60px 0 40px;
    }
  }
}

/*======================= BOTTOM =======================*/

#bottom-row{
  .row-container{}
}

/*======================= FOOTER =======================*/

#footer-row{
  .row-container{}
}

#copyright-row{
  .row-container{}
}

#copyright{
    margin-top: 6px;
  color: #a38477;
  line-height: 32px;
  .siteName{
      background: url("../images/template/logo_footer.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    display: block;
    float: left;
    margin-right: 2px;
    position: relative;
    text-align: left;
    text-indent: -9999px;
    top: -1px;
    width: 79px;
  }
  a{
    color: #a38477;
    &:hover{
      color: #f49b00;
    }
  }
}

ul.footer{
  float: right;
  margin: 12px 0 0;
  overflow: hidden;
  li{
    float: left;
    color: #907367;
    &:before{
      content: "|";
      padding: 0 13px 0 14px;
    }
    &:first-child:before{
      display: none;
    }
    a, .separator{
      color: #a38477;
    }
    a:hover{
      text-decoration: underline;
    }
    &.active{
      a, .separator{
        text-decoration: underline;
      }
    }
  }
}

#footer-wrapper{
  background: url(../images/template/footer.png) 0 0 repeat;
  .footer-wrapper-inner{
    padding: 48px 0 0;
  }
}

#jform_images_image_intro,
#jform_images_image_fulltext{
  height: 30px;
}

.nav-tabs {
  > li {
    > a {
      &:hover {
        .buttonBackground(#e86a1f, #ca2e0e, @white, none);
        border-bottom: 1px solid #DDDDDD;
      }
    }
    &.active {
      > a {
        background: #FFFFFF !important;
        border: 1px solid #DDDDDD !important;
        color: #555555 !important;
      }
    }
  }
}