/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 7, 2014, 8:33:30 PM
    Author     : Shoaib Rehmat
*/
div#is_toppanel{width:92%;padding:10px 5% 10px 3%;float:left;}
div#is_topsection{width:100%;float:left;}
div#is_sitetitle{width:100%;float:left;font-size:20px;font-weight:bold;padding:4px 0px;}
div#is_topcurloc{width:100%;float:left;font-size:12px;margin:4px 0px;}
div#is_top_links{width:100%;float:left;font-size:12px;margin:4px 0px;}
div#is_top_links a{display:inline-block;float:left;font-size:12px;margin:2px 2px; padding:4px 8px;min-width:80px;text-align:center;text-decoration: none;}
div#is_topheading,div#isproductlisting_sendtofriends_heading{text-align:center;font-size:20px;font-weight:bold;display:inline-block;width:100%;padding:5px 0px;}
div#is_productfilter{display:block;padding:10px;margin:5px 0px;}
form#adminFormproductfilter{margin:0px;}
div#filter_inner{display:inline-block;width:100%;}
div#filter_inner div#is_filter_object{display:inline-block;width:46%;text-align:center;padding:5px 2%;float:left;height:30px;}
div#filter_inner div#is_filter_object div.object_item_title{text-align: center;}
div#filter_inner div#is_filter_object div.object_item_title select{width:80% !important;}
div#filter_inner div#is_filter_object div.object_item_title input{width:75% !important; margin:0px auto;}
div#filter_button{text-align:center;display:inline-block;width:100%;}
div#filter_button button{text-align:center;display:inline-block;min-width:80px;outline:0px;border:0px;font-size:14px;padding:5px 8px;margin:0px 10px;cursor: pointer;}
div#is_product_wrapper{display:inline-block;width:100%;margin:5px 0px;}
div#is_product_topbar{display:inline-block;width:95%;padding:8px 0px;padding-left:5%;}
span#is_product_title{font-size:18px;}
div#is_product_centerbar{display:inline-block;width:100%;margin-bottom:20px;}
div#is_product_image{display:inline-block;text-align:center;height:200px;float:left;width:50%;}
div#is_product_image img{height:90%;padding:2%;margin:2%;width:auto;max-width:280px;}
div#is_product_image_right{width:50%;display:inline-block;float:left;height:200px;position:relative;}
div#is_product_image_bottom{width:100%;display:inline-block;text-align:center;}
div#is_product_image_bottom img{max-width:16%;padding:2%;margin: 2%;}
span#is_product_price{position:absolute;bottom:10px;max-width:40%;left:0;right:0;margin:auto;padding:10px 20px;font-weight:bold;text-align:center;}
div#is_product_data_pair{width:50%;float:left;padding:5px 0px;}
div#is_product_data_pair.shortlist{width:100%;float:left;padding:5px 0px;}
span#is_product_item_title{width:40%;font-weight:bold;margin-right:2%;text-align:right;display:inline-block;}
div#is_product_listing_bottomicons{display:inline-block;width:95%;margin:0 2.5%;padding:10px 0px;}
div#is_product_listing_bottomicons{margin: 10px 0px;padding:10px 2.5%;}
div#is_product_listing_bottomicons a{cursor:pointer;display:inline-block;margin: 0px 8px;line-height:24px;font-size:14px;}
div#is_product_listing_bottomicons a i{margin-right:5px;font-size: 14px;}
div#is_pagination{display:block;float:left;width:96.5%;padding:1.5%;margin:5px 0px;}
div#is_pagination_pageslink{text-align:center;display:block;width:100%;float:left;}
div#is_pagination_pageslink ul{padding:0px;}
div#is_pagination_pageslink ul li{padding:0px 8px;background:none;display:inline-block;}
div#is_pagination_pageslink ul li a{background:none;}
div#is_pagination_pageslink ul li a:hover{background:none;color:#50534E;}
div#is_pagination_box{float:left;}
div#is_pagination_box select{margin:0px 5px;font-size:12px;line-height:12px;padding:0px 5px;}
div#is_pagination_counter{float:right;}
div#is_pagination div#is_pagination_pageslink ul li.pagination-start,
div#is_pagination div#is_pagination_pageslink ul li.pagination-next{border-right:1px solid #96989A;color:#50534E;padding:8px;}
div#is_pagination div#is_pagination_pageslink ul li.pagination-start a,
div#is_pagination div#is_pagination_pageslink ul li.pagination-next a{color:#50534E;font-weight:bold;text-decoration:none;}
div#is_pagination div#is_pagination_pageslink ul li.pagination-prev,
div#is_pagination div#is_pagination_pageslink ul li.pagination-end{color:#50534E;}
div#is_pagination div#is_pagination_pageslink ul li.pagination-prev a,
div#is_pagination div#is_pagination_pageslink ul li.pagination-end a{color:#50534E;font-weight:bold;text-decoration:none;}
div#is_pagination div#is_pagination_pageslink ul li.pagenav{padding:0px 8px !important;color:#50534E;}
div#is_pagination div#is_pagination_pageslink .is_pagination{clear:both;}
form.productlisting_form{margin:0px;}
div#footer_wrapper{display:inline-block;width:100%;text-align:center;}
div#footer_wrapper img{max-height:40px;margin:0 auto;}
div#footer_wrapper span.footer_text{display:block;}
div.text_center{text-align:center;}
div.full_width{width:100%;}
div.is_product_category_wrapper{width:28%;height:250px;float:left;display:inline-block;margin: 10px 1%;padding:1%;text-align: center;}
div.is_product_category_wrapper img.is_product_category_image{height:200px;display:block;width:auto;margin:0 auto;max-width: 100%;}
div.is_product_category_wrapper span.is_product_category_title{display:inline-block;width:90%;line-height:24px;font-size:16px;padding:5px 0px;margin:0 auto;margin-top:10px;}
div.is_product_subcategories_categorytitle{display:inline-block;width:100%;}
div.is_product_subcategories_categorytitle_left{text-align:left;display:inline-block;width:80%;padding:5px 10px;margin:0px 10%;font-size:18px;line-height:18px;margin-bottom:10px;}
div.is_product_subcategories_categorytitle_left img{width:30px;margin:2px 5px;}
div#is_productdetail_wrapper{display:inline-block;width:100%;}
div#is_product_upperpart{display:inline-block;width:100%;margin-top:20px;margin-bottom:20px;}
div#is_product_upper_imagepart{display:inline-block;width:50%;float:left;text-align:center;overflow: hidden;}
div#is-productimages-thumbnail{float:left;width:100%;position: relative;}
div#is-productimages-thumbnail div.thumbnail{float:left;padding: 5px; border-radius: 5px;overflow: hidden;}
div#is-productimages-thumbnail-2{height: 90px;float:left;width:100%;position: relative;}
div#is-productimages-thumbnail-2 div.thumbnail{float:left;padding: 5px; border-radius: 5px;overflow: hidden;}
span#productimage-left{position: absolute;top: 30px; width: 20px; height: 30px;line-height: 30px;cursor: pointer;font-size: 30px;color: #dfdddd;background: #000000;opacity: 0.5;left: 0px;}
span#productimage-right{position: absolute;top: 30px; width: 20px; height: 30px;line-height: 30px;cursor: pointer;font-size: 30px;color: #dfdddd;background: #000000;opacity: 0.5; left: 100%;}
span#productimage-left-2{position: absolute;top: 30px; width: 20px; height: 30px;line-height: 30px;cursor: pointer;font-size: 30px;color: #dfdddd;background: #000000;opacity: 0.5;left: 0px;}
span#productimage-right-2{position: absolute;top: 30px; width: 20px; height: 30px;line-height: 30px;cursor: pointer;font-size: 30px;color: #dfdddd;background: #000000;opacity: 0.5; left: 100%;}
div#is_product_upper_datapart{width:48%;margin-left:1%;float:left;position:relative;padding-bottom:60px;}
span#is_product_upper_producttitle{display:block;margin-bottom:10px;padding:10px;font-size:20px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
span#is_product_upper_title{display:block;margin-bottom:5px;padding:5px;font-size:16px;font-weight:bold;}
span#is_product_upper_value{padding:5px;font-size:16px;font-weight:bold;margin-bottom:10px;display:block;}
div#is_product_share_panel{display:block;padding:2px 5px;text-align:center;}
div#is_product_share_panel span.product_share_content{display:inline-block;margin:0px 3px;}
span#product_fbcommentheading{display:block;padding:5px;text-align:center;font-size:16px;margin-top:5px;}
div#is_product_lower_part span#is_product_upper_title{margin-top:10px;}
div#is_product_lower_part span#is_product_upper_value{color:#000000;font-weight:normal;font-size:14px;}
div#is_form_wraper{display:inline-block;width:100%;}
div#is_form_wraper div.is_form_fields_wrapper{display:inline-block;width:100%;margin:5px 0px;}
div#is_form_wraper div.is_form_fields_wrapper div.is_form_fields_title{display:inline-block;line-height:25px;font-size:14px;text-align:right;width:38%;margin-right:2%;}
div#is_form_wraper div.is_form_fields_wrapper div.is_form_fields_value{display:inline-block;width:58%;height:25px;line-height:25px;}
div#is_form_wraper div.is_form_fields_wrapper div.is_form_fields_value input{margin-bottom:0px;border-radius:0px;height:20px;}
div#is_form_submit_button{text-align:center;margin:10px 0px 20px 0px;}
div#is_form_submit_button input,input#is_productpopup_submit{cursor:pointer;text-shadow:none;height:auto;line-height:1;padding:4px 10px;min-width:80px;border:0px;outline:0px;font-size:14px;}
div#productlisting_no_record_found{padding:2%;display:inline-block;width:96%;font-size:18px;font-weight:bold;}
div#tell_a_friend,div#popup,div#shortlist_product{position:fixed;top:80px;width:50%;left:25%;z-index:9999;}
div#tell_a_friend div.is_form_fields_wrapper,div#popup div.is_form_fields_wrapper,div#shortlist_product div.is_form_fields_wrapper{float:left;display:inline-block;width:94%;padding:5px 3%;}
div#tell_a_friend div.is_form_fields_wrapper.halfwidth,div#popup div.is_form_fields_wrapper.halfwidth,div#shortlist_product div.is_form_fields_wrapper.halfwidth{width:44%;padding:5px 3%;}
div#tell_a_friend div.is_form_fields_wrapper.halfwidth input,div#popup div.is_form_fields_wrapper.halfwidth input,div#shortlist_product div.is_form_fields_wrapper.halfwidth input{width:96%;padding:2% !important;margin:0px;text-align: center;}
span#is_product_upper_value.it_datasheet{display:inline-block;width:100%;margin:0px;padding:0px;}
span#is_product_upper_value span.is_product_datasheet_title{display:inline-block;width:30%;float:left;padding:10px 0px 10px 2%;margin-right:4%;}
span#is_product_upper_value span.is_product_datasheet_value{display:inline-block;width:60%;float:left;padding:10px 0px;}
span.it_product_feedback_not_found{display:inline-block;width:98%;padding:2%;font-size:16px;font-weight:bold;}

div#is_productdetail_wrapper.compare_product{width: 44.5%;padding: 2%;margin:0px;margin-right: 1%;float:left;}
div#is_productdetail_wrapper.compare_product.left{width: 44.5%;padding: 2%;margin:0px;margin-left: 1%;}
div#is_product_upperpart.compare_product{width: 100%;position: relative;}
div#is_product_upper_imagepart.compare_product{width: 100%;}
div#is_product_upper_datapart.compare_product{width: 100%;margin-left: 0px;}
div#is_product_lower_part.compare_product{margin-top: 0px;}
div#is_productdetail_wrapper.comparefield{width: 98%;margin:0px;padding:1%;min-height: 0px;margin-bottom: 5px;}
div#is_productdetail_comparefield_wrapper{float:left;width: 100%;}
div#is_productdetail_comparefield_button{float:left;width: 100%;text-align: right;}
div#is_productdetail_comaprefield_left{float:left;width: 48%;padding: 1%;position: relative;}
div#is_productdetail_comaprefield_left ul.isproductlisting-input-list-isproductlisting{list-style: none;margin: 0px;padding: 0px;}
div#is_productdetail_comaprefield_left ul.isproductlisting-input-list-isproductlisting p{display: none;}
div#is_productdetail_comaprefield_left ul.isproductlisting-input-list-isproductlisting div.isproductlisting_compareproduct table#isproductlisting_compareproducttable,
div#is_productdetail_comaprefield_left ul.isproductlisting-input-list-isproductlisting div.isproductlisting_compareproduct table#isproductlisting_compareproducttable tr,
div#is_productdetail_comaprefield_left ul.isproductlisting-input-list-isproductlisting div.isproductlisting_compareproduct table#isproductlisting_compareproducttable tr td{border: none;}
div#is_productdetail_comaprefield_left ul.isproductlisting-input-list-isproductlisting span.isproductlisting-input-delete-token-isproductlisting{position: absolute;top: 3%;right: 3%;cursor:pointer;}
div#is_productdetail_comaprefield_right{float:left;width: 48%;padding: 1%;position: relative;}
div#is_productdetail_comaprefield_right ul.isproductlisting-input-list-isproductlisting{list-style: none;margin: 0px;padding: 0px;}
div#is_productdetail_comaprefield_right ul.isproductlisting-input-list-isproductlisting p{display: none;}
div#is_productdetail_comaprefield_right ul.isproductlisting-input-list-isproductlisting div.isproductlisting_compareproduct table#isproductlisting_compareproducttable,
div#is_productdetail_comaprefield_right ul.isproductlisting-input-list-isproductlisting div.isproductlisting_compareproduct table#isproductlisting_compareproducttable tr,
div#is_productdetail_comaprefield_right ul.isproductlisting-input-list-isproductlisting div.isproductlisting_compareproduct table#isproductlisting_compareproducttable tr td{border: none;}
div#is_productdetail_comaprefield_right ul.isproductlisting-input-list-isproductlisting span.isproductlisting-input-delete-token-isproductlisting{position: absolute;top: 2%;right: 3%;cursor:pointer;}
ul.isproductlisting-input-list-isproductlisting li.isproductlisting-input-input-token-isproductlisting{background:#FFFFFF;border: 1px solid #000000;}
ul.isproductlisting-input-list-isproductlisting li.isproductlisting-input-input-token-isproductlisting input[type="text"]{background:none;border: 0px;}
div.isproductlisting-input-dropdown-isproductlisting{border: 1px solid #545454;background:#f5f5f5;text-align: left;}
div.isproductlisting-input-dropdown-isproductlisting p{padding: 0px;margin: 0px;margin-left:5px;}
div.isproductlisting-input-dropdown-isproductlisting ul{list-style: none;margin: 0px; padding: 0px;text-align: left;}
span#isproductlisting_comparevehiclelisttitle{padding-left:5px;margin-bottom:3px;display: block;font-size: 14px;line-height: 14px;}
span#isproductlisting_comparevehiclelistbrand{padding-left:5px;margin-bottom:5px;display: block;font-size: 12px;line-height: 10px;}
span#isproductlisting_comparevehiclelistprice{padding-left:5px;margin-bottom:5px;display: block;font-size: 12px;line-height: 10px;font-weight:bold;color: #B31212;}
div#is_product_wrapper.full_width{padding: 2%;width: 96%;min-height: 0px;}
span#is_product_item_title.full_width{margin-bottom: 5px;width:100%;margin:0px;text-align:left;}
span#is_product_item_value.full_width{width:100%;}
div#is_product_upper_datapart.compare_product{padding-bottom:0px;}
div#is_product_upperpart.compare_product{margin-bottom:0px;}
textarea#feedback{width:98%;resize: none;max-height: 100px;}
div.is_product_feedback{display:inline-block;width:96%;padding:2%;margin-bottom:5px;font-size:14px;font-style: italic;}
div.is_product_feedback span.is_product_feedback_personname{display:inline-block;width:100%;margin-bottom:5px;font-size:16px;font-weight:bold;font-style: normal;}
div.is_product_feedback span.is_product_feedback_personname span.is_product_feedback_date{display:inline-block;float:right;font-size:12px;font-style: normal;}
/******** Module **********/
div#is_modWrapperDiv{display:inline-block;width:100%;}
div#is_modWrapperDiv div#is_moddatadiv{display:inline-block;width:100%;margin:10px 0px;}
div#is_modWrapperDiv div#is_mod_uppertitle_logo{display:inline-block;width:100%;position:relative;min-height: 30px;}
div#is_modWrapperDiv div#is_mod_uppertitle_logo span#is_modproducttitle{display:inline-block;font-size:14px;width:80%;font-weight:bold;}
div#is_modWrapperDiv div#is_mod_uppertitle_logo img#is_modproductbrandlogo{position:absolute;top:0px;right:0px;max-width:18%;height:30px;}
div#is_modWrapperDiv div.is_modproduct_tablerow{display:table-row;}
div#is_modWrapperDiv div.is_modproduct_tablerow div.is_modproductimagediv{width:75px;float:left;}
div#is_modWrapperDiv div.is_modproduct_tablerow div.is_modproductdata{display:table-cell;vertical-align: top;width:100%;}
div#is_modWrapperDiv div.is_modproduct_tablerow div.is_modproductdata span.is_modproduct_data{display:inline-block;width:96%;padding:1% 2%;}
div#is_modWrapperDiv div.is_modproduct_tablerow div.is_modproductdata span.is_modproduct_data span.is_modproduct_title{display:inline-block;width:96%;padding:2%;}
div#is_modWrapperDiv div#is_moddatadiv span.is_modnumberlistspan{display:inline-block;width:100%;margin-bottom:2px;}
div#is_modWrapperDiv div#is_moddatadiv span.is_modnumberlistspan a{display:inline-block;float:left;padding:5px 5px;text-decoration: none;}
div#is_modWrapperDiv div#is_moddatadiv span.is_modnumberlistspan span.is_modnumberspan{display:inline-block;float:right;width:auto;padding:5px 10px;}
div#quantitybox_wrapper{float:left;margin-top:2px;}
div#quantitybox_wrapper a#buttonUp{padding:0px;float:left;}
div#quantitybox_wrapper a#buttonUp i{font-size: 16px; margin: 3px auto 0px auto;}
div#quantitybox_wrapper a#buttonDown{font-size:25px;padding:0px;float:left;}
div#quantitybox_wrapper a#buttonDown i{font-size:16px; margin: 3px auto 0px auto;}
div#quantitybox_wrapper input#quantitybox{display:inline-block;float:left;margin-bottom:0px;width:30px;text-align:center;padding:2px 8px !important;}
div#popup_overlaydiv{position: fixed;width: 100%;height:100%;background: rgba(0,0,0,0.5);top:0px;left:0px;display:none;z-index: 9998;}
span#is_product_title a,span#is_product_title a:hover{background:none;text-decoration: none;}
span#is_productpopup_title{display: block;padding:5px 0px;font-size:15px;text-align: center;}
div#popup span#is_productpopup_close{position: absolute;top: 2px;right: 2px;height: 20px; width: 20px;font-size:14px;cursor: pointer;color:#DC6161;}
div#is_product_form_wrapper{float:left;width: 100%;}
div#is_product_form_wrapper div.is_product_form_fieldset{float:left;width: 70%;margin: 4px 15%;}
div#is_product_form_wrapper div.is_product_form_fieldset.submitbutton{text-align: right;}
div#is_product_form_wrapper div.is_product_form_fieldset.submitbutton input#is_productpopup_submit{padding: 4px 8px;}
div#is_product_form_wrapper div.is_product_form_fieldset div.is_product_form_fieldtitle{float:left;width: 40%;}
div#is_product_form_wrapper div.is_product_form_fieldset div.is_product_form_fieldvalue{float:left;width: 60%;}
div#is_product_form_wrapper span#is_productpopup_title{float:left;width: 100%;margin-bottom: 4px;font-size: 14px;text-align: center;font-weight: bold;}
div#is_product_wrapper div.is_product_category_wrapper span.is_product_category_title a,div#is_product_wrapper div.is_product_category_wrapper span.is_product_category_title a:hover{display:block;text-decoration: none;background:none;}
div#is_modWrapperDiv div#is_mod_uppertitle_logo span#is_modproducttitle a,div#is_modWrapperDiv div#is_mod_uppertitle_logo span#is_modproducttitle a:hover{background:none;text-decoration: none;}
a.zoomThumbActive.thumbnailimages{border:0px;}
img.is_product_listing_specailimage{float:right;height: 16px;width:16px;margin-top: 4px;}
div#isproductlisting_cp_main{display: inline-block;width:100%;}
div#isproductlisting_cp_icon_portion{display: inline-block;width:100%;}
div#isproductlisting_cp_icon_portion a.cp_linkanchor{width: 30%;display: inline-block;float:left;margin: 1.5%;height:70px;font-size: 12px;}
div#isproductlisting_cplinks{display: inline-block;padding: 15px;}
div#isproductlisting_cplinks div.cpimage{float:left;margin-right: 10px;}
div#isproductlisting_cplinks div.cptext{float:left;margin-top: 8px;}
div#popupinner{padding:10px;}
div#is_productlisting_wrapper{display: inline-block;width:100%;}
div#is_productlisting_wrapper div#productlist_cart_wrapper{display: inline-block;width:100%;}
div#is_productlisting_wrapper div#productlist_cart_wrapper div.productlisting_item_wrapper.heading{display: inline-block;width:100%;padding:10px 0px;}
div#is_productlisting_wrapper div#productlist_cart_wrapper div.productlisting_item_wrapper.heading span.productlisting_item_title{display: inline-block;width:38%;margin-left: 2%;float:left;}
div#is_productlisting_wrapper div#productlist_cart_wrapper div.productlisting_item_wrapper.heading span.productlisting_item_action{display: inline-block;width:10%;text-align: center;float:left;}
div#is_productlisting_wrapper div#productlist_cart_wrapper div.productlisting_item_wrapper.heading span.productlisting_item_quantity{display: inline-block;width:10%;text-align: center;float:left;}
div#is_productlisting_wrapper div#productlist_cart_wrapper div.productlisting_item_wrapper.heading span.productlisting_item_priceperunit{display: inline-block;width:20%;text-align: center;float:left;}
div#is_productlisting_wrapper div#productlist_cart_wrapper div.productlisting_item_wrapper.heading span.productlisting_item_totalprice{display: inline-block;width:20%;text-align: center;float:left;}

div#is_productlisting_wrapper div#productlist_cart_wrapper div.productlisting_item_wrapper{display: inline-block;width:100%;padding:10px 0px;}
div#is_productlisting_wrapper div#productlist_cart_wrapper div.productlisting_item_wrapper span.productlisting_item_title{display: inline-block;width:38%;margin-left: 2%;float:left;}
div#is_productlisting_wrapper div#productlist_cart_wrapper div.productlisting_item_wrapper span.productlisting_item_action{display: inline-block;width:10%;text-align: center;float:left;}
div#is_productlisting_wrapper div#productlist_cart_wrapper div.productlisting_item_wrapper span.productlisting_item_quantity{display: inline-block;width:10%;text-align: center;float:left;}
div#is_productlisting_wrapper div#productlist_cart_wrapper div.productlisting_item_wrapper span.productlisting_item_quantity input{margin:0 auto;}
div#is_productlisting_wrapper div#productlist_cart_wrapper div.productlisting_item_wrapper span.productlisting_item_priceperunit{display: inline-block;width:20%;text-align: center;float:left;}
div#is_productlisting_wrapper div#productlist_cart_wrapper div.productlisting_item_wrapper span.productlisting_item_totalprice{display: inline-block;width:20%;text-align: center;float:left;}
div#productlist_cart_item_total_wrapper{padding:10px 0px;display: inline-block;width:100%;text-align: right;}
div#productlist_cart_item_total_wrapper span#productlist_cart_item_total_label{display: inline-block;width:20%;text-align: center;}
div#productlist_cart_item_total_wrapper span#productlist_cart_item_total{display: inline-block;width:20%;text-align: center;}
div.productlisting_paymentbuynow_wrapper{display: inline-block;width:80%;padding:10px 0px;margin:0px 10%;text-align:right;}
div.productlisting_paymentbuynow_wrapper span.productlisting_payment_title{display: inline-block;width:70%;text-align:left;float:left;padding:5px 0px;}
div.productlisting_paymentbuynow_wrapper input#productlisting_paymentbutton{width:20%;margin:0 auto;text-align:center;line-height: 1;text-shadow:none;}